[2019-01-17 20:55] Burgyn opened #9 "Support complex ocelot scenario"
- [x] Add tests for `Petstore` swagger Example.
  - [x] Group more reroutes with same `SwaggerKey`.
  - [x] Filter by `UpstreamHttpMethod`.
  - [x] Splited endpoints

[2019-01-17 20:59] #9 closed

[2019-01-23 12:18] Mikado3780 opened #11 "BuilderExtensions - System.NullReferenceException"
### General
I am experiencing `System.NullReferenceException` while registering Ocelot Swagger middleware with extension method `UseSwaggerForOcelotUI()`.

### Steps to reproduce
1. **Missing** or **empty** section `SwaggerEndPoints` in configuration file (e.g. Appsettings.json):
[code]
2. Register Ocelot Swagger
[code]
### Expectation
I would expect better exception message, or support for empty

[2019-01-23 12:21] Mikado3780 commented on #11
This should help:
https://github.com/Burgyn/MMLib.SwaggerForOcelot/blob/7ee6a6e7c0ffb5483f2f35ed3c9c058e87d386a7/src/MMLib.SwaggerForOcelot/Middleware/BuilderExtensions.cs#L51

[2019-02-04 19:18] amit1980in opened #12 "consolidate API help on ocelot gateway doesn't show help for nested model"
Individual API is showing swagger help for nested model, however nested model is not shown in ocelot API gateway swagger help. our model definitions is like below

public class SavingActuals
    {
        public double Comfort { get; set; }
        public double Energy { get; set; }
        public double RealEstate { get; set; }
    }

    public class DetailedChartSavingData
    {
        public

[2019-02-05 05:16] Burgyn commented on #12
Hi, thanks for your report.

Can you please provide downstream service `swagger.json` and ocelot configuration?

[2019-02-05 15:51] amit1980in commented on #12
[downstreamswagger.txt](https://github.com/Burgyn/MMLib.SwaggerForOcelot/files/2832743/downstreamswagger.txt)
[OcelotSwagger.txt](https://github.com/Burgyn/MMLib.SwaggerForOcelot/files/2832747/OcelotSwagger.txt)

I have attached downstream microservice and ocelot response of swagger json. In individual service you will see SavingActuals model is present but not present in ocelot

[2019-02-05 16:00] Burgyn commented on #12
Thanks, but can you attached ocelot reroutes configuration? I want investigate where is a problem.

[2019-02-05 16:05] amit1980in commented on #12
[configuration.Development.txt](https://github.com/Burgyn/MMLib.SwaggerForOcelot/files/2832819/configuration.Development.txt)
 adding routes

[2019-02-05 16:06] amit1980in commented on #12
look for financial api swagger

[2019-02-25 13:56] Burgyn opened #18 "Unit tests for middleware configuration"
Now is time write first tests for configuration.
`BuilderExtensions.UseSwaggerForOcelotUI`.

[2019-02-25 14:13] #11 closed

[2019-03-25 17:19] nkovacic opened #19 "All paths and definitions are removed from swagger.json"
**Describe the bug**
Library removes all paths and definitions from microservice swagger.json. SwaggerUI shows `No operations defined in spec!` error.
This happens because of double {} variables in PathTemplate. If {version} is removed everything works as expected.

**Expected behavior**
Swagger.json should have all properties just like it was directly request via url.

**To Reproduce**
[code]

Sw

[2019-03-27 06:42] Burgyn commented on #19
Hi, I'll check it out

[2019-03-27 07:11] Burgyn commented on #19
Hi,
I'm afraid I can't reproduce it.
@nkovacic, can you please provide an original `swagger.json` file? (if it is not secret, of course)
And which version of package you use?

Thanks.

[2019-03-27 18:07] nkovacic commented on #19
Updated issue with redacted swagger.json.

[2019-04-24 21:39] walidaziz opened #20 "Headers from securityDefinitions are not kept"
**Describe the bug**
Headers from securityDefinitions are not kept in DownStream when trying with swagger UI

**Expected behavior**
Headers from securityDefinitions should be kept in DownStream

**To Reproduce**
Having following definitions in swagger.json :
`
"securityDefinitions": {
    "apiKey": {
      "type": "apiKey",
      "description": "API Key Authentication",
      "name": "myheader",

[2019-04-26 21:27] jondmcelroy opened #21 "BasePath Does not Appear to Work correctly"
**Describe the bug**
I am using a downstream swagger service that has a basePath in it. When I set it up through ocelot, i have to add the basePath into the Upstream/Downstream Path Templates in order to get the routing working. When I do that though, it messes up the swagger from SwaggerForOcelot as the route cannot be detected.

Example Original Swagger:
[code]
To Call this it would be `localhos

[2019-04-27 05:37] #21 closed

[2019-05-09 08:28] Kum4r4n opened #23 "Failed to load API definition - Error"
hi,
recently I install your Package but it dose not work for me,

its say
![image](https://user-images.githubusercontent.com/31638942/57438832-6944f880-7262-11e9-93e3-a7d34b6982d6.png)

How can i fix that!

i am working with Microservice

[2019-05-09 09:46] Burgyn commented on #23
Hi,
thanks for your report.

Please can you provide your `ocelot.json` configuration?

Thanks.

[2019-05-09 11:06] Kum4r4n commented on #23
this is my
[code]

[2019-05-09 11:53] Burgyn commented on #23
Hi,
I apology, I cannot reproduce this behaviour.

- Are you sure that swagger docs for `Industry` is accessible from `http://localhost:51010/swagger/v1/swagger.json`?
- Added you `services.AddSwaggerForOcelot(Configuration);` in `ConfigureServices` method in `Startup` class?
- Added you `app.UseSwaggerForOcelotUI(Configuration);` in `Configure` method in `Startup` class?

[2019-05-09 14:42] Kum4r4n commented on #23
I used all of the thing what you say, but still i can't fix that
please help me on it !

[2019-05-09 17:08] Burgyn commented on #23
please, you can provide a sample where this behavior is isolated

[2019-05-10 03:17] Kum4r4n commented on #23
this is our project

we are using microservice with docker
and all of them separate projects with solution. normally swagger work with separately.
we had api gate way for all service.

i want to access all the service with one baseURL with api gate way in this case all of them are working good, the problem is swagger didn't work on api gate way i want to access all service swagger from api gate wa

[2019-05-10 05:56] Burgyn commented on #23
I understand, this is main reason why this project was created. For microservices with one base api gateway base url. Where we want access to documentation for all downstream services in one place.

---

A typical problem when you get `500 Internal Server Error` is that ApiGateway doesn't have access to `SwaggerEndpoint.Url` in your case `http://localhost:51010/swagger/v1/swagger.json`.

Are you s

[2019-05-10 06:24] Kum4r4n commented on #23
http://localhost:51010/swagger/v1/swagger.json this one is working fine,

but its always shows same error.

this is my Docker Cofiguration file

[code]

![image](https://user-images.githubusercontent.com/31638942/57506729-4c6bfc00-731a-11e9-9a3b-88bfe7c35506.png)

[2019-05-10 06:27] Kum4r4n commented on #23
This is my startup file
[code]

[2019-05-10 06:31] Kum4r4n commented on #23
I can provide my pc with teamviewer, can you allocate you time for me to solve this problem,
if you ok with it
i will waiting for you !

[2019-05-10 06:50] Burgyn commented on #23
What do you have in `PATH_BASE`?

[2019-05-10 06:55] Kum4r4n commented on #23
Now its working

but i got another issue,
api gate way downstream url missing the "/"

Like this
http://localhost:51000/api/I/industry - this is what i want !

this is what it got.
http://localhost:51000apiI/industry

![image](https://user-images.githubusercontent.com/31638942/57508193-7a533f80-731e-11e9-9cbc-21b050ca956c.png)

[2019-05-10 07:39] Burgyn commented on #23
1. What have you changed when it works now?
2. What do you have in `PATH_BASE` setting? (`app.UsePathBase(pathBase);`)

[2019-05-10 08:22] Kum4r4n commented on #23
i didn't know about that,
two guys work on that , api gate way created by that guy,  i am new for This field ,
i forgot to change the port number in swagger key

[code]

i here.

[2019-05-10 10:59] JardoHornak opened #24 "Documentation for Ocelot aggregates"
It would be great if there were any way how to create Swagger documentation for Ocelot aggregates.
Please, think it over and if any idea comes up to your mind, realise it.
Thanks a lot :)

[2019-05-10 11:05] #23 closed

[2019-05-10 11:05] #18 closed

[2019-05-21 11:57] kmaesdillen opened #25 "UpstreamHttpMethod ignored"
**Describe the bug**
When UpstreamHttpMethod is used in the ocelot configuration.json the generated swagger.json will still have all endpoints present even when the HttpMethod was not present in the UpstreamHttpMethod

**Expected behavior**
Method for which the HttpMethod is not present in the configuration.json should not be in the generated swagger.

**To Reproduce**
create an api with a simple

[2019-05-23 18:03] Burgyn commented on #25
Thanks for your report.
I reproduced it.
I'll try to fix it today or tomorrow.

[2019-05-23 18:09] #25 closed

[2019-05-23 18:17] Burgyn commented on #25
I released new version `1.2.1` where is this bug fixed. This version will be listed in [nuget.org](https://www.nuget.org/packages/MMLib.SwaggerForOcelot/1.2.1) in a few minutes.

[2019-05-31 14:08] rkoczen opened #27 "How to set base path for swagger.json"
**Describe the bug**
Swagger documentation is not accessible  if we deploy APIs using path for example:

http://url/gateway/swagger

is unable to find docemtation located on two api at below url:

http://url/ap1/
http://url/ap2/

**Expected behavior**
can work using path not only ports for specific api

[2019-06-05 08:25] rkoczen commented on #27
Hi The problem is here:

If we assign here options.EndPointBasePath in method UseSwaggerForOcelot like this "/swagger/docs"

and we use basePath in AddSwaggerEndPoints from config EndPointBasePath like "/gateway/swagger/docs"

everything works completly fine.

You can accesS both swagger documentation.

Is it possible to add additional endpoint for mapping ?

 private static void UseSwaggerForOcel

[2019-06-05 16:50] Burgyn commented on #27
Hi,
thank you for reporting the problem and for research.
Can you provide an example of how you would like to use it?

Or ideal make PR if you know how to implement it. (Contribution is open ☺️)

[2019-06-05 16:57] rkoczen commented on #27
Great 😀

I ll try do it tommorow 😀 it will be helpful i think if You can Creat
nuget with fixed of course after review my pull request 😀

Rafał

W dniu śr., 5.06.2019 o 18:50 Miňo Martiniak <notifications@github.com>
napisał(a):

[2019-06-05 17:04] Burgyn commented on #27
Great.

Of course, when you implement it (maybe I'll make some corrections 😉), then I will release new version to nuget.

Thanks a lot.

[2019-06-05 17:05] rkoczen commented on #27
Of course 😀

W dniu śr., 5.06.2019 o 19:04 Miňo Martiniak <notifications@github.com>
napisał(a):

[2019-06-05 17:41] Burgyn commented on #20
Hi,
I tried investigate it.
It's look like problem directly in `Swashbuckle.AspNetCore`.

Because, when I created empty web api dotnet core project. Without `ocelot`, without `MMLib.SwaggerForOcelot`, only with `Swashbuckle.AspNetCore`. then behavior was same. `SwaggerUI` probably don't propagete apikey header to backend.

Please try write issue to Swashbuckle.AspNetCore.

Thanks

[2019-06-05 17:42] #20 closed

[2019-06-05 19:08] Burgyn commented on #19
Hi,
unfortunately this library does not currently support parameters (other than `{everything}` at the end). Therefore, I called this issue an improvement.

It shouldn't be difficult to implement, unfortunately, now I have no time to do it.

Therefore, I leave this issue open if someone wants to create a PR.
Contribution is open.

[2019-06-05 19:36] rkoczen commented on #27
It looks I don't have rights to push my branch

[2019-06-05 20:31] Burgyn commented on #27
Yes. You must creat in your fork. And then creat PR.

[2019-06-06 09:10] rkoczen commented on #27
Sorry but I have still problem with ssh i don't have any idea :(

Could I send You solution by email or etc ?

[2019-06-06 09:27] Burgyn commented on #27
Hello,
The standard way to contribute to OpenSource on GitHub is as follows:

1. Create a fork to your repository.
2. Implement your changes in the new branch.
3. Push changes to your origin.
4. Create PR.

If you have problem with creating PR from your repo, than send me link to your fork.

[2019-06-06 10:01] rkoczen commented on #27
But i have problem with public Saj key 😀

W dniu czw., 6.06.2019 o 11:27 Miňo Martiniak <notifications@github.com>
napisał(a):

[2019-06-06 10:25] Burgyn commented on #27
OK, but it strange.

Can you upload your solution somewhere and send me a link for it?

[2019-06-06 10:39] rkoczen commented on #27
http://www.common-soft.pl/MMLib.SwaggerForOcelot.rar

I am fighting for few hours with this ssh, and i do'nt have solution yet:(

maybe quicker be like this.

Please let me know what You think.

[2019-06-06 11:54] Burgyn commented on #27
Hi, I created PR #29, where I implement your changes. (I changed it a bit, because of better understanding)

Please check it, if you are ok with these.

---
I don't understand why you have a problem with SSH when you push to your repository. Are you sure you are pushing changes to your fork?

[2019-06-06 12:37] rkoczen commented on #27
Its look great:)

About SSH i don't have any idea, i need check my whole computer.

[2019-06-06 12:48] Burgyn commented on #27
I released new version. New version will be availabe in few minutes in https://www.nuget.org/packages/MMLib.SwaggerForOcelot/1.3.0

Thanks a lot

[2019-06-06 12:48] #27 closed

[2019-06-06 13:23] gl3nni3 opened #30 "Value cannot be null"
**Describe the bug**

I get the following error when i try to load in my swagger json file.

[code]

**Expected behavior**
A viewable swagger ui.

**To Reproduce**
The swagger.json file
[code]

[2019-06-06 13:52] gl3nni3 commented on #30
By researching a little it has something to do with the change in openapi 2 vs openapi 3

[2019-06-06 17:02] Burgyn commented on #30
Hi,
thanks for your report.

Yes, you're right. Problem is with version 3.

One of the breaking change is that `definitions` section is moved under `components`.

`MMLib.SwaggerForOcelot` actualy doesn't support this version of openapi.

I'll create new issue for suporting this version, but I can't promise when I do it because I don't have the time to do it. You can implement it if you want.
Contr

[2019-06-06 17:06] Burgyn opened #31 "Support for openapi v3"
This package actualy doesn't support new version of openapi (version 3.0)

One of the breaking change is that `definitions` section is moved under `components`.

It would be great if this package would support a new version of openapi

[2019-06-13 16:14] #30 closed

[2019-06-14 04:41] #31 closed

[2019-06-24 07:59] Burgyn opened #34 "New UI layout"
Creat new UI where services will be in tabs not in combobox.

[2019-07-03 12:51] walidaziz commented on #20
thanks. i will provide an other sample asap

[2019-07-03 13:07] walidaziz opened #35 "Could not resolve reference"
**Describe the bug**
Hi,
Through Ocelot some references could not be resolved.
In the following sample TypeColors or TypeImages are not retrieved in (POST)/api/admin/settings

They does existe in original JSON but not in ocelot json

[ocelot.txt](https://github.com/Burgyn/MMLib.SwaggerForOcelot/files/3355068/ocelot.txt)
[swagger.txt](https://github.com/Burgyn/MMLib.SwaggerForOcelot/files/3355069/s

[2019-07-18 22:11] jrsanbornjr commented on #19
I'm experiencing same problem with no double variables in any paths. The swagger.json "info" shows up fine, but only empty paths{} and definitions{}. I have no idea why.

[2019-07-19 18:26] jrsanbornjr commented on #19
I've gone over and over the configs and startup files in both Ocelot and the web service and I can't find anything that looks different from the examples. I did try removing everything from the Ocelot config but this one service reroute and SwaggerEndpoints entry and that made no difference. Thoughts anyone?

From the gateway, the swagger json looks like this: (modified slightly)
`{
  "swagger": "

[2019-07-22 04:52] #35 closed

[2019-07-22 04:59] Burgyn commented on #35
Hi,
this bug fix is deployed in [version `1.4.1` .](https://www.nuget.org/packages/MMLib.SwaggerForOcelot/1.4.1)

[2019-07-22 05:03] Burgyn commented on #19
Hi @jrsanbornjr
please create new issue and attach ocelot configuration too.
Thanks.

[2019-07-22 06:11] walidaziz commented on #35
Great ! Thanks. We will test that.

[2019-07-23 16:16] jrsanbornjr opened #37 "All paths and definitions are still removed from swagger.json (without double parameters)"
**Describe the bug**
As with the previous similar issue, I get the full swagger.json file accessing it directly from the sub service, but through the gateway all the paths and definitions are empty. I do not have any double parameters in the URL as in the previous issue. ("http://svc-api:{port}" is local address on same server with Ocelot)

**Expected behavior**
Swagger.json should have all proper

[2019-07-23 18:19] Burgyn commented on #37
Hi,
thanks for your report.

**Workaround**: Can you try replace `{url}` with `{everything}` keyword in your ocelot configuration?

Finally configuration will look like:
[code]

[2019-07-23 21:15] jrsanbornjr commented on #37
... and that did the trick! Sorry, I could swear I even tried that. I must have changed only of them.

[2019-07-23 21:15] #37 closed

[2019-07-25 22:16] balarvs2002 opened #38 "Good Job"
it is really very useful. Why dont you raise PR to https://github.com/ThreeMammals/Ocelot, So that It can be used by all.

[2019-07-29 09:08] Burgyn commented on #38
Hi,
thanks. I am glad that this project is also useful for others.

I admit that I did not think about incorporating it into the original Ocelot repository. But it sounds like a good idea. Sometime in the future I may try.

[2019-08-01 07:07] balarvs2002 commented on #38
Thanks @Burgyn .  Looking forward to integrate with OCELOT

[2019-08-01 07:07] #38 closed

[2019-08-13 13:41] windstormtm opened #42 "FindReRoute method do incorrect check if base path applied"
**Describe the bug**
if i use virtual directory for my service i see nothing in service methods list

**Expected behavior**
I see methods of service

[2019-08-13 13:43] windstormtm opened #43 "ReplaceFirstInUrl incorrect replacement"
**Describe the bug**
ReplaceFirstInUrl replaces all occurences of basePath instead of first one

[2019-08-13 13:46] windstormtm opened #44 "Base path property incorrect value"
**Describe the bug**
If gateway has no base path and service has base path swagger UI creates invalid urls for queries to gateway (with service base path)

[2019-08-14 18:24] Burgyn commented on #42
Hi,
thanks for your report.

Can you please provide downstream service `swagger.json` and ocelot configuration?

I am currently on vacation, I will check this in September.

[2019-08-14 18:24] Burgyn commented on #43
Hi,
thanks for your report.

Can you please provide downstream service `swagger.json` and ocelot configuration?

I am currently on vacation, I will check this in September.

[2019-08-14 18:25] Burgyn commented on #44
Hi,
thanks for your report.

Can you please provide downstream service `swagger.json` and ocelot configuration?

I am currently on vacation, I will check this in September.

[2019-08-22 13:50] ianmccaul opened #46 "Support for local swagger"
In certain situations where a developer is slowly transitioning from a monolithic system they may have a hybrid gateway. So in some cases the gateway may have some local endpoints its serving as well as acting as a gateway for other services with ocelot. Would be nice if there was a way to be able to serve up the local swagger doc as well as the swagger docs of the downstream services.

[2019-08-31 17:51] Burgyn commented on #46
Hello,

can you provide your suggestion on how it could be used?

Thanks.

[2019-08-31 18:30] ianmccaul commented on #46
Not quite sure what you mean. As in how its used, the gateway swagger could list the local endpoints that still exist in the gateway, and are configured normally through starup, while having the remote endpoints listed in the drop down which are configured based on the ocelot.json.

[2019-08-31 18:41] Burgyn commented on #46
Okay, I'm starting to understand.
It's a nice improvement. Currently I do not have the time for it. However, the contributions is open. You can send your PR.

[2019-09-04 10:58] ChrisSwinchatt opened #47 "Update configuration via Ocelot.Administration"
**Is your feature request related to a problem? Please describe.**

We are moving to dynamic configuration of Ocelot via a fairly hacky method that (edit: used to) involves POSTing the new configuration to the Ocelot administration API. However, SwaggerForOcelot:

1. Throws because there are no Swagger documents in the startup config, and
2. (I presume) does not react to Ocelot configuration updat

[2019-09-04 11:50] Burgyn commented on #47
Hi,
thanks for your issue.

If you have time to explore, I would be glad if you take a look at it.

Thanks.

[2019-10-09 16:52] #19 closed

[2019-10-12 18:08] #44 closed

[2019-10-24 08:21] yoli799480165 opened #52 "Found SwaggerJsonTransformer of low performance"
**Describe the bug**
 SwaggerJsonTransformer has performance problems.

**Expected behavior**
The size of swagger.json in api project more than 1MB, and request took more than 15 seconds.

**To Reproduce**
Request:
![001](https://user-images.githubusercontent.com/4556286/67466729-26dd6f80-f67a-11e9-9666-d4d143eaa363.png)
dotTrace:
![002](https://user-images.githubusercontent.com/4556286/67466778-3

[2019-10-24 18:23] Burgyn commented on #52
Hi,
thanks for your report.
At first glance it looks like jpath query.

Bad news: without refactoring actual implementation (geting rid of jpath) it doesn't make a sence.
Good news: next month I plan refactor this project. So next month I can fixed it.

I appologise for complication.

[2019-10-28 05:32] xsilviox opened #53 "The scheme is duplicated."
The schema is duplicated. I tried it with http and https. I can not find the problem.
![schema](https://user-images.githubusercontent.com/13439465/67653985-38f63100-f94c-11e9-9e8a-2452318dd7ea.png)

[2019-10-28 09:56] kajbonfils commented on #53
I have the same issue, running version 1.9.0. Could this be related to #51 ?

[2019-10-28 10:01] kajbonfils commented on #53
I just downgraded to v. 1.8.0, and the problem is removed.

`{
  "ReRoutes": [
    {
      "UpstreamPathTemplate": "/services/Crm/{everything}",
      "UpstreamHttpMethod": [ "Get", "Post" ],
      "DownstreamPathTemplate": "/api/v1/Crm/{everything}",
      "DownstreamScheme": "http",
      "DownstreamHostAndPorts": [
        {
          "Host": "localhost",
          "Port": 54199
        }

[2019-10-28 10:34] xsilviox commented on #53
Perfect thank you. With version 1.8 it works for me too.

[2019-10-31 06:54] Burgyn commented on #53
Hi @xsilviox

Please can you provide `ocelot.json` configuration and `swagger.json` of downstream service?

Thanks.

[2019-11-22 10:13] Arslan-Munir commented on #27
It has been great to work with Ocelot and swagger.
But here is a strange behavior I am getting.
When I use app.UseSwaggerForOcelotUI with opts.SwaggerEndpoint, it duplicates the swagger documentation for each down services.

I can also integrate down services swagger directly by using app.UseSwaggerUI with SwaggerEndpoint. Here I don't need any configuration and no need of app.UseSwaggerForOcelotU

[2019-11-24 08:13] Burgyn commented on #27
Hi @Arslan-Munir,
Sorry, I'm outside of computer (vacation with family). I'll look at it when I get back.

Please, can you create new issue for this?
Thanks.

[2019-11-29 17:54] Burgyn opened #56 "Refactoring this repository. 🔨 🔨 🔨"
# Refactor

General issue to improve this repository.

## Tests

- [x] Make new way of unittesting. _(One unittest method with theory)_ _(Implemented in PR #63)_
- [x] Create new unit tests sources. _(based on the old issues)_

## Project structure, conventions, ...

- [x] Add `.editorconfig`.
- [x] Remove warnings.
- [x] Comments public members.
- [x] Check project structure.

## Performance

- [

[2019-11-29 20:08] Burgyn commented on #47
Hi,
is there something new?

[2019-12-02 11:46] Arslan-Munir commented on #27
Hi @Burgyn
Sure I will create this as a new issue.
Thanks.

[2019-12-02 11:57] Arslan-Munir opened #58 "Swagger documentation become duplicated for each down services."
Hi.
In swagger for ocelot, I observe a strange behavior.
When I use app.UseSwaggerForOcelotUI with opts.SwaggerEndpoint, it duplicates the swagger documentation for each down services. I can't figure it out, why this is happening? Am i doing something wrong?

Here is one more thing I would like to ask. I am able to integrate down services swagger documentation directly in my ocelot gateway just by

[2019-12-02 18:56] Burgyn commented on #58
Hi,
### First

The recommended way to use this library is as follows:

1. Configure SwaggerForOcelot in `ocelot.json`.

E.g.
[code]

2. Fill `SwaggerKey` property on your rerout configuration.

E.g.
[code]

3. In the `ConfigureServices` method of `Startup.cs`, register the SwaggerForOcelot generator.
[code]

4. In `Configure` method, insert the `SwaggerForOcelot` middleware to expose interactive d

[2019-12-08 10:07] #58 closed

[2019-12-09 08:06] mourier commented on #53
Having same issue - normal posting works fine tho.
So guess this is only an issue in the swagger part.

[2019-12-09 10:26] Burgyn commented on #53
Hi @mourier

Please can you provide ocelot.json configuration and swagger.json of downstream service?

Thanks.

[2019-12-09 10:44] ondrix opened #59 "Endpoint shows in dropdown but it's content is not loaded"
One of my serivces does not show swagger doc. Other looks fine but this one loads into dropdown but swagger doc does not load

**To Reproduce**
If it is a possible attache:
1. Original downstream `swagger.json`.
2. Ocelot ReRoutes configuration.
[ocelot.zip](https://github.com/Burgyn/MMLib.SwaggerForOcelot/files/3939199/ocelot.zip)

[2019-12-09 11:10] Burgyn commented on #59
Hi,
thanks for the report.

Problem is that your downstream service documentation doesn't contains paths like `/api/application/95/tasks`.

This package unfortunately doesn't support parameter translating beetwen upstream and downstream path template.

I will support it when I finish issue #56.

[2019-12-09 12:28] mourier commented on #53
[https://gist.github.com/mourier/14415f1d9b71643de0de98869e9d6e0e](ocelot.json)
[https://gist.github.com/mourier/8ff7531c9ca452a25eb59d7fc3e98b5c](swagger.json)

[2019-12-10 05:40] Burgyn commented on #53
Hi,
thanks for your reports and aditional informations.
It helped me reproduce this problem.

I'll fix it in next release `v2.0`. After finished issue #56.

As a workaround you can downgrade to version `1.8`

Thank you and apologize.

[2019-12-10 14:03] aspramsh opened #60 "Customizable swagger base URL."
HI @Burgyn.

I have a question. Does Swagger for Ocelot support changing default swagger path? I need to use RoutePrefix from UseSwaggerUI method:
`
app.UseSwaggerUI(c =>
{

    c.SwaggerEndpoint("/swagger/v1/swagger.json", "My API V1");

    c.RoutePrefix = "docs";
`});``

[2019-12-11 05:25] Burgyn commented on #60
Hi @aspramsh

Yes, SwaggerForOcelot package allow changing swagger documentation page default path.

[code]

[2019-12-11 06:40] aspramsh commented on #60
Thank you.

[2019-12-11 06:57] Burgyn commented on #60
You are welcome.

[2019-12-11 06:57] #60 closed

[2019-12-12 10:01] Arslan-Munir commented on #58
Hi @Burgyn
First of all, sorry for being too late.
Thank you for your time & helpful comment.
It helps & the issue is resolved. :)

[2019-12-12 11:28] Burgyn commented on #58
Hi @Arslan-Munir ,

you are welcome.

[2019-12-13 20:26] #43 closed

[2019-12-13 20:26] #42 closed

[2019-12-25 14:20] aspramsh opened #61 "Configuration for bearer token."
Hi @Burgyn. I would like to know is there any specific config for adding bearer token to swagger for ocelot DownstreamSwaggerHeaders? I mean how to provide "Auth-Key", "AuthValue"?

[2020-01-03 08:50] Burgyn commented on #61
Hi @aspramsh,
no special configuration exist.

This package only allows you to define the headers to be added directly in the code. (this settings is common to all request).
You have to do it yourself.

For example:
[code]

[code]

[2020-01-06 15:15] ChrisSwinchatt commented on #47
Hi @Burgyn - Apologies for late response. It looks like the necessary changes to Ocelot will go ahead fairly soon, so provided I don't get dragged away again, I'll get onto this as soon as my pull request over there goes through.

[2020-01-06 18:54] Burgyn commented on #47
Hi @ChrisSwinchatt,
thanks for information.

Good luck.

[2020-01-06 22:06] aspramsh commented on #61
Okay @Burgyn. Thanks a lot.

[2020-01-07 07:49] #61 closed

[2020-01-13 02:59] chrisipeters opened #64 "Incorrect URL for microservice swagger"
**Describe the bug**
Swagger launched from the gateway is looking for the microservice swagger json at the wrong path

**Expected behavior**
Swagger should populate microservice json data

**To Reproduce**
Gateway API: localhost:44393
Users Microservice: localhost:44340

I am able to access the Users microservice json file directly at: https://localhost:44340/swagger/v1/swagger.json

But from the

[2020-01-13 13:37] Burgyn commented on #64
Hi,

please can you try to replace `{catchAll}` with `{everything}` in `ocelot.json`?

[2020-01-13 22:29] chrisipeters commented on #64
ocelot.json updated as above, error now reads:
Fetch error: undefined /swagger/docs/v1/users

[2020-01-14 07:54] Burgyn commented on #64
Hi,
Can there be a problem with certificate?

What if you change `SwaggerEndPoints.Url` to `http` instead of `https`. For test only.

[2020-01-14 16:33] ilcos91 opened #65 "Confusion in the interpretation of the routes"
This is my configuration file:
`{
  "ReRoutes": [
    // AUTHENTICATION
    {
      "DownstreamPathTemplate": "/api/authentication",
      "DownstreamScheme": "https",
      "DownstreamHostAndPorts": [
        {
          "Host": "localhost",
          "Port": 4001
        }
      ],
      "UpstreamPathTemplate": "/authentication",
      "UpstreamHttpMethod": [
        "Post" // Login
      ],

[2020-01-14 18:57] Burgyn commented on #65
Hi,
thanks for your report.
Please can you provide your downstream service `swagger.json`? It will help me investigate the problem.

Thanks

[2020-01-15 08:14] ilcos91 commented on #65
This is the swagger.json for the masterdataController and masterdatatypeController.
`{
  "openapi": "3.0.1",
  "info": {
    "title": "Locals API",
    "description": "Services collection to access local data of the ContextOwner",
    "version": "v1"
  },
  "paths": {
    "/api/Companies": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Get the list of the e

[2020-01-15 13:59] emrehorasan commented on #64
Hi,

I have same problem too. 'try execute' button is making a call to `http://http://localhost:5000/bro..` adress

[2020-01-15 17:00] Burgyn commented on #64
Hi @emrehorasan,
your issue looks different. Befacause you have duplicated `http` in path. It looks like a problem with `baseUrl`. Please create new issue for this and attach your `ocelot.json` and downstream swagger json.

thanks.

[2020-01-16 05:32] Burgyn commented on #65
Hi,

thank you for more information. It help me reproduce this behaviour.

It's bug. I'll try to fix it soon.

[2020-01-16 05:34] Burgyn commented on #64
Hi @emrehorasan,

your issue looks like #53.

As a workaround you can downgrade to version `1.8`

[2020-01-16 06:57] emrehorasan commented on #64
Thanks for your quick answer @Burgyn

I cannot downgrade to version 1.8 because I using .net core 3.1. Incompatibility occurs in other packages.

[2020-01-16 12:22] #65 closed

[2020-01-16 12:43] Burgyn commented on #65
This issue is fixed in version `1.10.1`.

Thanks for cooperation.

[2020-01-16 15:42] ilcos91 commented on #65
Thank you for the prompt response.

[2020-01-17 15:57] #53 closed

[2020-01-18 06:27] Burgyn commented on #53
Fixed in version 1.10.2

[2020-01-18 06:31] Burgyn commented on #64
Hi @emrehorasan
Issue #53 is fixed in version `1.10.2`

[2020-01-22 08:59] johan-forsell opened #68 "Route wildcard naming"
First off; Thank you for developing this fine project! :)

However, we had quite some trouble getting the library to work for us.

Thing was that in Ocelot the route wildcards can be named whatever. In our case they were named {path} and Ocelot-wise that was all working fine. However after some debugging we found that SwaggerForOcelot does not allow this, and will only accept wildcards named {ever

[2020-01-22 16:01] Cichyy7 opened #69 "SwaggerEndPoints configuration section is missing or empty for merged ocelot jsons"
Hi,

When I'm using per service ocelot.json configuration and file merging, I get **System.InvalidOperationException: "SwaggerEndPoints configuration section is missing or empty."**
Approach is described here: https://ocelot.readthedocs.io/en/latest/features/configuration.html#merging-configuration-files

When I put whole configuration in standalone ocelot.json, everything works fine.

I would lik

[2020-01-22 17:44] Burgyn commented on #68
Hi,

thanks for your issue.

Yes, unfortunately now this project support only `{everything}` as wildcard. I plan implemented this feature, but after issue #56. I don't have as much time as I would imagine.

Thanks a lot.

[2020-01-22 17:53] Burgyn commented on #69
Hi,

thanks for your issue. I never test this scenario.

I'll look into it in the near future.

[2020-01-22 18:18] johan-forsell commented on #68
I understand completely.

If I manage to conjure up some time myself, I'll implement the solution and send a PR.
Should take some load off...

Thank you for your comitment :)

[2020-01-22 18:43] Burgyn commented on #69
Hi,

when you use `.AddOcelot("./Ocelot", hostingContext.HostingEnvironment)` extension, then Ocelot merge configuration by own way and remove unknown elements.

As workaround you can move `SwaggerEndPoints` section into your `appsettings.json` file.
I hope, that help you.

[2020-01-22 21:44] Cichyy7 commented on #69
Hi,
Thanks for the quick reply!

Moving `SwaggerEndPoints` to `appsettings.json` of gateway indeed helped with `SwaggerEndPoints configuration section is missing or empty`
 but now i'm getting
`IndexOutOfRangeException: Index was outside the bounds of the array.`
`MMLib.SwaggerForOcelot.Middleware.SwaggerForOcelotMiddleware.GetEndPointInfo(string path)`

Also, I'm wondering how to move `"SwaggerKe

[2020-01-23 06:55] slashersvk opened #70 "After updating swashbuckle to version 5.0.0, some models have trouble serializing"
**Description**
Using .net core 3.0 project, after updating swashbuckle library to version 5.0.0 some models have trouble serializing and swagger renders an error message upon clicking some routes.
In my case the error had problems with Enum and some classes.

**Expected behavior**
Models should be serialized.

**To Reproduce**
1. Open swagger
2. Click on route

[2020-01-23 11:37] aspramsh commented on #70
I have the same problem, here are my errors:
![image](https://user-images.githubusercontent.com/26508162/72981470-43fb1900-3df6-11ea-99ef-2790822a8fab.png)

[2020-01-23 15:01] Burgyn commented on #69
Hi,

yes you are right `SwaggerKey` is removed. Unfortunately now I don't have any workaround for this. I apologize.

[2020-01-23 19:17] #70 closed

[2020-01-23 19:18] Burgyn commented on #70
Fixed in version `1.10.3`.

[2020-01-23 22:42] Cichyy7 commented on #69
Hi,

No problem ;)
Thanks for the help anyway ;)

[2020-01-24 04:45] #69 closed

[2020-01-24 07:20] aspramsh commented on #70
Thank you.

[2020-01-30 09:59] ilcos91 opened #73 "Resolver error at ... Could not resolve reference: Could not resolve pointer: ..."
Hi,
I'm having two different behaviour in the swagger of my end point and in SwaggerForOcelot of my gateway.
I have defined an object that is also a property of another object that I defined.
In the swagger of the end point everything works fine, I can navigate all the properties.
![image](https://user-images.githubusercontent.com/59659091/73438782-e2cfca00-434e-11ea-8800-0feb3318a318.png)
While w

[2020-01-30 11:00] Burgyn commented on #73
Hi,

please try version `1.10.3`. It's look like problem resolved in PR #71

[2020-01-30 11:06] ilcos91 commented on #73
Yes, I had an outdated version, not it works.
Thank you and sorry for the waste of time

[2020-01-30 11:06] #73 closed

[2020-01-30 13:01] Burgyn commented on #73
It's OK. I'm glad it's solved.

[2020-01-31 10:55] Raj1633 opened #74 "hi i'm new to Ocelot and .net core"
hi i am new to Ocelot and .net core , when i browse for some example i found your github project ,  can some one help me on how to run this project and explore more, whether each project has to be hosted prior accessing it or can i run in visual studio as multiple project run at time ? which one is the start up project here to begin and Test

[2020-01-31 11:16] Burgyn commented on #74
Hi,

I'm not sure what you want study. Ocelot? If yes try [Ocelot documentaion](https://ocelot.readthedocs.io/en/latest/).
This repo is "only" integration library w bring together Ocelot and Swagger.

Anyway,
if you want explore demo projects in this repo follow nex steps.

1. Set multiples project starup in your Visual Studio.
Multiple startup projects:
- ApiGateway (this is Ocelot api gateway)
-

[2020-02-03 11:56] Raj1633 commented on #74
@Burgyn  thanks for  your response , i'm trying to understanding integration of ocelot to my swagger microservices , could you please give some more information on the  ocelot and .net core version, i'm running this solution in Visual studio 2019, experiencing some issue ,

[2020-02-05 06:55] Raj1633 commented on #74
@Burgyn  some how i manged to run the application with your help , but the ports keep on changing couldn't guess so thinking to host this individual app , i've  knowledge on host asp.net  application but i'm new to host Asp.net Core application , can some one throw some light on this  please, i'm eager to learn this ocelot:)

[2020-02-05 19:04] #64 closed

[2020-02-05 20:56] luidgisarto opened #76 "Swagger configure dynamic url for microservices"
Hello, today I have a structure containing 3 microservices and I am using this library to expose the endpoints of these services via swagger, however, using docker to allow scalability, which makes the need for the ocelot.json configuration file not to fix the ports and url services, is there any functionality or configuration that meets my need?

[2020-02-06 05:25] Burgyn commented on #74
Hi,

the microservices in this demo (`Project`, `Contact`, `PetStore`, `Order`) set the launch URL in the `Main` method in the `Program.cs` by `.UseUrls` methods.

ApiGateway project does not have specific launch URL. I recommand you study [`launchSettings.json` profile.]( https://docs.microsoft.com/en-us/aspnet/core/fundamentals/environments?view=aspnetcore-3.1)

[2020-02-06 05:28] Burgyn commented on #76
Hi,

Unfortunately, this package does not currently support this scenario.

[2020-02-09 14:48] Burgyn commented on #52
Hi,

please can you try version `1.10.4`? This version reduce time of 40%. Unfortunately now, I can't getting rid of `jpath`.

Please can you provide your large `swagger json` file and `ocelot` configuration for the future investigation?

thanks a lot.

[2020-02-11 18:50] amadard opened #79 "File Merge Support"
I have the same problem as #69 and built my own fix by making my own version of the file merge code.

@Burgyn  How would you like me to proceed to get you the code to review to decide if you want to take my changes?

[2020-02-12 05:19] Burgyn commented on #79
Hi, thanks for your investigation and effort.

Standard procedure is:

Fork this repo
Create new branche
Make your changes
Write UnitTest.
If it's new feature write info into documentation (readme.md file)
Commit / push
Create pull request

[2020-02-19 16:26] Adamantinu commented on #76
Hi, ist this on the roadmap for a future version or not on the radar at all right now?
Would love to have this feature since more and more services are hosted in some kubernetes cluster with dynamic configuration over a service discovery.

[2020-02-20 09:06] Burgyn commented on #76
Hi,
Yes, I'm planning it for the next major release. But unfortunately I don't have as much time as I would have imagined.

[2020-02-22 19:25] #74 closed

[2020-02-22 19:27] #52 closed

[2020-02-28 15:07] Burgyn commented on #76
This feature is availabe in preview version `2.0.0-alpha.1`.

[2020-03-03 16:05] Adamantinu commented on #76
Very cool! Unfortunally it doesn't seem to work with kubernetes - neither with Ocelots PollKube where it doesn't find the service to connect too, nor with the normal "OnRequest" Provider where it can't build the Uri and throws and unhandled exception.

Stack Trace:

[15:54:10 ERR] Connection id "0HLTVH5MUK6FF", Request id "0HLTVH5MUK6FF:00000002": An unhandled exception was thrown by the applicati

[2020-03-04 08:07] Burgyn commented on #76
Hi, Thank you for your feedback. I apologize for the trouble.

I'll try to investigate and fix it. But unfortunately I have no experience with kubernetes. It would help me if you could prepare a demo for this problem for me.

[2020-03-04 09:41] Adamantinu commented on #76
Unfortunally I can't open a branch and create a pull request, but basically the Scheme that comes back in the SwaggerServiceDiscoveryProvider class is null since K8s works with IPs only internally. So you would have to set this one manually depending on the port - like:

            var scheme = service.Scheme;

            if (string.IsNullOrEmpty(service.Scheme))
            {
                sw

[2020-03-04 17:13] Burgyn commented on #76
Thank you for your investigation. I'll implement it tomorrow (and write unit tests).

To the future contribution. If you don't have perrmission for contribution to GitHub repository then:
1. Fork GitHub repo
2. Create branch
3. Write implementation / tests / documentations / ...
4. Commit / push to your forked repo
5. Create Pull Request

[2020-03-05 08:46] Adamantinu commented on #76
Very good, thanks for the information.
I actually thought of a better possibility for getting the right URI Scheme - since we have to configure the DownstreamScheme in ocelot anyhow, we should just use that for the discovery instead of a switch on the used port.

[2020-03-06 07:49] #76 closed

[2020-03-06 07:51] Burgyn commented on #76
It will be fixed in version `2.0.0-alpha.2`. Please check it.

Thanks for cooperation.

[2020-03-16 11:33] mateo19851 opened #82 "Swagger not working with self signed certificate."
**Describe the bug**
I have a service with swagger with self signed certificate. There is no possibility to configure request to use self signed certificates.

**Expected behavior**
There should be an option to set self signed certificates as valid.

**To Reproduce**
The service with selfsigned certificate is required.

[2020-03-25 05:51] Raj1633 opened #83 "In swagger UI generation enable Authentication"
Hi,

Please guide how to enable JWT authentication  verification in swagger UI while generating using MMLib.SwaggerForOcelot.

[2020-03-30 15:30] Burgyn commented on #83
Hi,

unfortunately this package doesn't support Swagger UI authentification.

The only thing you can use is settings `DownstreamSwaggerHeaders`. This headers will be send when requesting a swagger endpoint.

[code]
If you need to dynamically forward headers from the original SwaggerUI request, then **theoretically** you can implement cusom `IEnumerable<KeyValuePair<string, string>>` which takes th

[2020-03-30 15:34] Burgyn commented on #82
Hi,

thanks for your report.

Currently I do not plan to implement it.
But, contributing is open ;-)

[2020-03-31 06:44] Raj1633 commented on #83
@Burgyn thanks for your response

[2020-03-31 06:44] #83 closed

[2020-04-08 08:37] #79 closed

[2020-04-12 20:04] sandyrepo opened #84 "Unable to integrate swagger with Gateway"
**Describe the bug**
I have ocelot with consul service discovery, whenever swagger is fetching from api gateway it returns empty path and contents and no services found but
without gateway swagger is displaying the services
**Expected behavior**
with localhost url its working but with service discovery its not working

**To Reproduce**
If it is a possible attache:
1. Original downstream `swagger.j

[2020-04-12 20:42] sandyrepo commented on #84
{
  "ReRoutes": [
    {
      "DownstreamPathTemplate": "/{url}",
      "DownstreamScheme": "http",
      "UpstreamPathTemplate": "/abc/{url}",
      "UpstreamHttpMethod": [ "Get", "POST", "PUT" ],
      "ServiceName": "ani.abc.api",
      "LoadBalancerOptions": {
        "Type": "LeastConnection"
      },
      "RateLimitOptions": {
        "ClientWhitelist": [],
        "EnableRateLimiting": tru

[2020-04-12 20:46] Pavan1foru commented on #84
I tried with setting swaggerkey as service name but got http error "cannot assign address"

[2020-04-13 16:35] Burgyn commented on #84
Hi @sandyrepo

thanks for your report. It's look like problem with transformation by Ocelot config. You use `{url}` as wild card in your configuration. Unfortunately now this project support only `{everything}` as wildcard. (see #68)

Please try use `{everything}`.

[2020-04-13 18:47] sandyrepo commented on #84
Thanks for your quick reply. this resolved my issue

[2020-04-13 18:48] #84 closed

[2020-04-20 09:18] karabiberoglu opened #85 "VirtualDirectory not reflects on swagger ui"
Hi,

in my configuration, I set the virtual directory.
when I check my rest methods on swagger ui, virtual directory is missing and when i try to execute the methods, I get 404 error.

but when i manually add virtual host to request url. it works.
are there any workaround to handle this issue?

Thanks,

[2020-04-21 14:30] BHARAT703 opened #86 "Getting issue in .Net core 3.1"
**Describe the bug**
Getting this error with simple micro service structure that uses Ocelot. see attached snap.

`An invalid request URI was provided. The request URI must either be an absolute URI or BaseAddress must be set.`

![image](https://user-images.githubusercontent.com/24493137/79877293-b1c0dc00-8409-11ea-95b5-6a325a8368f5.png)

**To Reproduce**
Here I have attached my Ocelot configurati

[2020-04-22 14:31] minaibrahim89 opened #87 "Double http protocol when executing action (v1.9.0)"
For the ocelot.json content below. I get a working Swagger page for the microservice. However, when trying to execute an action, a wrong URL is generated as indicated in the screenshot. Particularly, the URL starts with "http://http://".
[code]
![image](https://user-images.githubusercontent.com/14942089/79994652-8b0caf00-84b6-11ea-9ee4-d933f56a8b13.png)

[2020-04-22 16:09] smoretti-github opened #88 "Fetch Error"
**Describe the bug**
Fetch error: undefined /swagger/docs/v1/documents

**Expected behavior**
A clear and concise description of what you expected to happen.

**To Reproduce**
If it is a possible attache:
1. Original downstream `swagger.json`.
[code]

2. Ocelot ReRoutes configuration.
[code]

[2020-04-22 17:38] minaibrahim89 commented on #87
Duplicate of #53

[2020-04-22 17:38] #87 closed

[2020-04-23 12:56] Burgyn commented on #85
Hi,
thanks for your report.

Please, can you provide your `ocelot.json` configuration? And example of downstream `swagger.json`?

thanks.

[2020-04-23 13:03] Burgyn commented on #86
Hi,

it's look like you use [Service Discovery](https://github.com/Burgyn/MMLib.SwaggerForOcelot#service-discovery) configuration. In your case (if don't use Service Discovery, like Service Fabric, Kubernetes, ...) you have to use standard swagger endpoint configuration, like:

[code]

[2020-04-24 17:35] Burgyn commented on #88
Hi,
thanks for your report.

I tried to reproduce it, but without success. When I used your configuration I got correct result.
![image](https://user-images.githubusercontent.com/5930822/80240584-62c1b380-8662-11ea-8fc7-dc5935e35d15.png)

Are you sure, that the swagger documentation of downstream service is accessible from uri: `http://localhost:44396/swagger/v1/swagger.json`?

[2020-04-25 15:56] Burgyn commented on #46
Hi,

this feature was implemented in PR #89.

Is released as version `2.0.0-alpha.3`

[2020-04-25 15:57] #46 closed

[2020-04-27 07:53] smoretti-github commented on #88
Hi Mino,
The Urls were wrong, because i’m working with https protocol and I wrote http://.But now they are correct and I’ve the same error.
This is a screenshot of the error:
[cid:image001.jpg@01D61C7A.3491DA50]
It arrives after one minute.There is  a Loading Icon, after a minute the error arrives.
Thanks for your intereset in my problem.
Bye
Simone

Da: Miňo Martiniak <notifications@github.com>
I

[2020-04-27 08:20] smoretti-github commented on #88
Now It works.
Using https:// it works.

Thanks for your help.

We need smart developer like you.

Best Regards
Simone

Da: Miňo Martiniak <notifications@github.com>
Inviato: venerdì 24 aprile 2020 19:36
A: Burgyn/MMLib.SwaggerForOcelot <MMLib.SwaggerForOcelot@noreply.github.com>
Cc: Moretti Simone <S.Moretti@almaviva.it>; Author <author@noreply.github.com>
Oggetto: Re: [Burgyn/MMLib.SwaggerForOcel

[2020-04-27 09:20] Burgyn commented on #88
Happy to help.

[2020-04-27 09:20] #88 closed

[2020-04-27 13:15] rajeshgithub001 opened #90 "SwaggerEndPoints configuration section is missing or empty exception"
I am using SwaggerForOcelot with .net core 3.1 for api gateway.

Our ocelot json is divided into modules like below:-

ocelot.call-log.json
ocelot.column-chooser.json
ocelot.contact-list.json
ocelot.documentation.json
ocelot.global.json
ocelot.inventory-list.json
ocelot.json <= this is generated automatically.
ocelot.swagger.json <=define here swagger related configuration , pls find below

{
  "R

[2020-04-27 16:32] #82 closed

[2020-04-27 16:37] Burgyn commented on #90
Hi,
unfortunately this package doesn't support this scenario, now.

See #69. @amadard tried support this in issue #79, but without response.

[2020-04-27 22:26] amadard commented on #90
@rajeshgithub001 I am happy to help!  I have the code, I just havent made the time to build out the unit tests and thus havent submitted it as a PR.

You have to replace the AddOcelot() with a custom extension that takes the SwaggerEndPoints into consideration.  AddOcelot deserializes all of your individual files into a Model, which is why the SwaggerKey gets lost.  I have an extension method repl

[2020-04-28 05:40] rajeshgithub001 commented on #90
Please provide an extension method ?

[2020-04-28 19:04] amadard commented on #90
First step is the replace the Ocelot FileReRoute, which is why the SwaggerKey is being dropped:

[code]

Then we need to replace the FileConfiguration to have the ReRoutes property use our new SwaggerFileReRoute model.  This is a full redo, since we cant inherit and replace the ReRoutes property.

[code]

Then we are replacing the AddOcelot(this IConfigurationBuilder builder, string folder, IWebHo

[2020-05-01 07:11] rajeshgithub001 commented on #90
Thanks a lot.

[2020-05-01 07:11] #90 closed

[2020-05-01 07:14] rajeshgithub001 opened #91 "How to log request json body in case of error in ocelot"
I am serilog to log error from ocelot in case of downstream giving any error.
Using serilog i am sending the exception details to Application Insight.

Serilog configuration:-

"Serilog": {
"Using": [ "Serilog.Sinks.ApplicationInsights" ],
"MinimumLevel": {
"Default": "Information",
"Override": {
"Microsoft": "Warning"
}
},
"WriteTo": [
{
"Name": "ApplicationInsights",
"Args": {
"instrumentationKe

[2020-05-01 19:13] Burgyn commented on #91
Hi,

sorry, but by your description it looks like issue to [Ocelot repo](https://github.com/ThreeMammals/Ocelot).

[2020-05-01 19:18] Burgyn commented on #90
hi guys,
please can you provide PR (it can help others)? It can be without tests, I can write them.

[2020-05-01 19:21] amadard commented on #90
Sure thing!  I will get it done this weekend.

[2020-05-03 05:54] ThiyagarajanVellaichamy commented on #53
Hi Could you please help me out?
![Screenshot 2020-05-03 at 11 22 21](https://user-images.githubusercontent.com/63137672/80905510-9a022580-8d30-11ea-9ccf-4c3b0d1d85e6.png)

[2020-05-03 11:36] Burgyn commented on #53
Hi @ThiyagarajanVellaichamy,
Pleaae, Can you create new issue for it an provide `ocelot.json`.

Thanks.

[2020-05-03 13:48] karabiberoglu commented on #85
Thanks for your response, files are as following.

[ocelot.json.txt](https://github.com/Burgyn/MMLib.SwaggerForOcelot/files/4570524/ocelot.json.txt)
[v1.json.txt](https://github.com/Burgyn/MMLib.SwaggerForOcelot/files/4570525/v1.json.txt)

[2020-05-03 17:40] ThiyagarajanVellaichamy commented on #53
{
  "ReRoutes": [
    {
      "DownstreamPathTemplate": "/api/{everything}",
      "DownstreamScheme": "https",
      "DownstreamHostAndPorts": [
        {
          "Host": "localhost",
          "Port": 5001
        }
      ],
      "UpstreamPathTemplate": "/auth-service/{everything}",
      "UpstreamHttpMethod": [ "Get", "Post" ],
      "SwaggerKey": "authswagger",
      "VirtualDirectory": "/a

[2020-05-03 17:44] ThiyagarajanVellaichamy opened #93 "Schema Invalid : http port not valid"
everything has been rendered in view, when trying to execute API through Swagger, getting invalid schema. find the configuration and screen shot below, please help me out, if there I missed anything from my end.

ocelot.json:
{
  "ReRoutes": [
    {
      "DownstreamPathTemplate": "/api/{everything}",
      "DownstreamScheme": "https",
      "DownstreamHostAndPorts": [
        {
          "Host":

[2020-05-04 11:13] Burgyn commented on #93
Hi,
I try to figure out where the problem is, but without success.

I don't know why he create the wrong address. `localhost://5003`. You do not have a special value filled in baseUrl in downstream service swagger?

[2020-05-05 12:42] Burgyn commented on #85
Hi,

I'm not sure, but it's look like you have wrong configuration.

Your downstream path looks like this `/MyWebApi/api/{everything}`, so I suppouse that `MyWebApi` is name of your virtual directory in IIS. But to property `VirtualDirectory` you setting `/MyApiGateway`, why not `/MyWebApi`?

[2020-05-05 17:35] ThiyagarajanVellaichamy commented on #93
Thanks for the valuable Answer,

I have removed virtual directory too, but it gives same result.

1. I have used API Gate way which is running under 5003 port.
2. It has ocelot configuration, and ran the application then navigated to swagger page.
3. It has two option
      I. Gate Way API - port: 5003
      ii. Authentication API -port: 5001
4. when I'm choosing Authentication API, it's rendered

[2020-05-05 18:24] Burgyn commented on #93
For further investigation, Can you provide your AuthorizationApi downstream swagger (original, before transforming by this library).

Thanks.

[2020-05-05 18:29] ThiyagarajanVellaichamy commented on #93
services.AddSwaggerGen(c =>
            {
                c.SwaggerDoc("v1", new OpenApiInfo { Title = "Authentication Services", Version = "v1", Description = "Authentication service" });
                c.AddSecurityDefinition("Bearer",
                   new OpenApiSecurityScheme
                   {
                       In = ParameterLocation.Header,
                       Description = "Ple

[2020-05-05 18:47] Burgyn commented on #93
sorry but i meant swagger.json.

[2020-05-06 13:10] Burgyn commented on #93
Hi,

thanks for sharing your settings, they helped me understand the issue.

## Problem description

You have (I don't know why) in your swagger this setting:

[code]
See [swagger documentation](https://github.com/domaindrivendev/Swashbuckle.AspNetCore#modify-swagger-with-request-context)

## Workaround

If you really need this settings, than you can change it in ocelot config.

[code]

The key is

[2020-05-06 14:50] ThiyagarajanVellaichamy commented on #93
Yes, You resolved the issue, thanks.

[2020-05-06 14:50] #93 closed

[2020-05-06 14:53] Burgyn commented on #93
I am glad to hear that

[2020-05-12 19:03] Reintjuu opened #94 "Error when used with Consul as service discovery provider"
With Consul up and running (available through port 8500), I'm not able to use this library to access an individual service's swagger documentation.

The Example service is configured as follows:
[code]

And my ocelot.json:
[code]
The services are accessible directly (by creating a simple API controller with a HttpGet method) but don't seem to be through swagger. I'm getting the following error in

[2020-05-14 12:05] gudufy opened #95 "When will the dynamic routing of consul be possible?"
When will the dynamic routing of consul be possible?

[2020-05-15 16:10] Burgyn commented on #94
Hi,

I never test this scenario. Because I have no experience with this service.

This library generally uses Service Discovery from Ocelot. It is possible that there is only a small problem, unfortunately I have no way to find it out (I do not have a ready environment). If you had any other information that could help me, that would be nice. For example, some adition info from a given exception.

[2020-05-15 16:20] Burgyn commented on #95
Hi,

This library generally uses Service Discovery from Ocelot. Unfortunetly I never tested scenario with the Consul, because I have no experience with this service.

#94 is similar issue. If you have any other info that could help solve this I will be happy if you provide.

[2020-05-16 07:27] gudufy commented on #95
I implemented an IConfigurationBuilder extension, When Ocelot uses Consul, it can generate ocelot.json based on the list of services returned by Consul:
`using Consul;
using Microsoft.Extensions.Configuration;
using MMLib.SwaggerForOcelot.Configuration;
using Newtonsoft.Json;
using System;
using System.Collections.Generic;
using System.IO;
using System.Linq;
using System.Threading.Tasks;

namespac

[2020-05-18 15:17] dadjh85 opened #96 "Error routing endpoints"
I have a problem in the configuration of this nuget, I have a configuration file like the one below:
`{
  "ReRoutes": [
    {
      "DownstreamPathTemplate": "/samm/apitaer/{everything}",
      "DownstreamScheme": "http",
      "DownstreamHostAndPorts": [
        {
          "Host": "MYIPSERVER",
          "Port": 8080
        }
      ],
      "UpstreamPathTemplate": "/api/request/{everything}",

[2020-05-19 10:47] dadjh85 commented on #96
I have added a pull request with the solution to this problem, could you check it to see if it could be included in a new version of the nuget? Thank you very much.

[2020-05-19 12:32] Burgyn commented on #96
Hi,

your changes are available in [`v2.0.0-alpha.4`](https://www.nuget.org/packages/MMLib.SwaggerForOcelot/2.0.0-alpha.4)

Thanks for cooperation.

[2020-05-19 12:33] #96 closed

[2020-05-19 14:05] TheJoeIaut opened #98 "Wrong schema & Hostname when using "Try it out" in Swagger UI"
I have a gateway and one Identity API running in Docker Container. When trying to execute a Method via "Try it out" the URL of the Identity Service is wrong. Somehow localhost is used as schema and the port as hostname.

I Access the Gateway Swagger UI via http://localhost:15000/swagger/index.html:

![image](https://user-images.githubusercontent.com/8371896/82335541-c765f900-99e9-11ea-923e-03d6fe3

[2020-05-21 01:34] rsanhuez opened #99 "Help with Error Code: UnableToFindDownstreamRouteError Message: Failed to match ReRoute configuration for upstream path"
Hi. I am testing this package to use it in a project. I tried to follow the steps of the README and the example on https://github.com/Burgyn/MMLib.SwaggerForOcelot/tree/master/demo/ApiGatewayWithPath.  For testing purposes I am connecting one API Gateway with one Microservice. The technologies used are:

- .NET Core 3.1
- Ocelot 15.0.6
- SwaggerForOcelot 1.10.5
- Swashbuckle 5.4.1

When I try to d

[2020-05-21 05:03] Burgyn commented on #99
Hi,

try to remove the next block of code:
[code]

use only `app.UseSwaggerForOcelotUI(Configuration)`

you can try new prerelease version [2.0.0-alpha.4](https://www.nuget.org/packages/MMLib.SwaggerForOcelot/2.0.0-alpha.4)

[2020-05-21 22:39] rsanhuez commented on #99
It worked perfectly. Thanks!. Now I am going to add some custom controllers to the API Gateway and see If I am able to display them along  with the Ocelot's endpoints.

[2020-05-22 04:42] Burgyn commented on #99
I am glad to hear that.

[2020-05-22 04:42] #99 closed

[2020-05-22 18:24] rsanhuez opened #100 "Help with "No operations defined in spec!""
Hi again :). Sorry to bother you guys, but I really want to use this package on my project. It will make the development of the Gateway very easy!

I followed the steps on the section "The Gateway documentation itself". I was able to display the Microservice's endpoints correctly but the Gateway shows the following error:

![errorSwaggerOcelot2](https://user-images.githubusercontent.com/7253013/82

[2020-05-22 23:21] rsanhuez commented on #100
I was struggling for more than a day so I finally decided to try the latest alpha tag and It worked. When will we able to access to this version through the Nugget Package Manager? Thanks for your help and for this awesome project.

[2020-05-23 10:43] Burgyn commented on #100
I'm glad the new version helped solve your problem. This alpha version is accessible directly from the VS Nuget Package Manager, but you must enable prereleas versions

[2020-05-23 10:43] #100 closed

[2020-05-28 05:17] Burgyn commented on #98
Hi.
Sorry for the late reply.
Please try new version `v2.0.2`

[2020-05-28 16:17] #86 closed

[2020-06-03 07:51] makana opened #104 "Programmatic Endpoint configuration not used in UseSwaggerForOcelotUI"
**Describe the bug**
If you configure Swagger Endpoints dynamically in ConfigureServices(IServiceCollection services), those are not used when calling UseSwaggerForOcelotUI and you are getting the error "SwaggerEndPoints configuration section is missing or empty".

[code]

**Expected behavior**
The programmatic configuration is used.

**Possible fix**

Do not re-read the configuration section in U

[2020-06-04 05:12] #104 closed

[2020-06-04 09:19] AntonukOM opened #106 "Aggregated endpoint is not visible in SwaggerUI"
Hi, I have a configuration for the aggregated call for my API:
"Aggregates": [
    {
      "RouteKeys": [
        "Tenants",
        "KeycloakUsers"
      ],
      "UpstreamPathTemplate": "/tenantsAndUsers",
      "AuthenticationOptions": {
        "AuthenticationProviderKey": "Bearer",
        "AllowedScopes": []
      }
    }
  ]
But I cannot see this endpoint in my swagger UI.
I use AddSwaggerF

[2020-06-04 12:19] Burgyn commented on #106
Hi,
unfortunately this project does not support Ocelot Aggregators. Now!
See #24
I plan to do it. But I can't promise a when.

[2020-06-04 12:42] AntonukOM commented on #106
Thank you very much for your reply!
I am glad to know that you have plans for that!
BR,
Oleksandr!

чт, 4 черв. 2020 о 15:19 Miňo Martiniak <notifications@github.com> пише:

[2020-06-04 13:37] #106 closed

[2020-06-05 20:38] #91 closed

[2020-06-08 20:18] yasirk opened #108 "Deployment to Azure WebAPI Fails due to security filter denying double slash "//""
**Describe the bug**
When deploying to Azure Web Api with Ocelot configured as 'self contained' publish profile, MMLib breaks when invoking a call to the swagger.json endpoints. IIS on azure throws a error:

"The request contained a double escape sequence and request filtering is configured on the Web server to deny double escape sequences"

**Expected behavior**
A solution would be to disable req

[2020-06-09 15:26] #85 closed

[2020-06-11 13:43] yasirk commented on #108
@Burgyn  I'm using ocelot 16.0.1  and below is a sample snippet of the ocelot.json configuration.

The swagger UI on each individual service loads up fine, however when going through Ocelot is when the load fail/above error shows up.

{
  "GlobalConfiguration": {
    "BaseUrl": "https://localhost:5001"

  },
  "Routes": [
    {
      "DownstreamPathTemplate": "/api/{everything}",
      "Downstream

[2020-06-14 14:39] haimbell commented on #100
@Burgyn  I'm getting the same message, looking at the nuget prerelease i cant find any alpha version

![image](https://user-images.githubusercontent.com/54363796/84596367-f5622000-ae65-11ea-94be-9a859b3c9d37.png)

[2020-06-15 07:09] Burgyn commented on #100
Hi @haimbell

please create new issue for that. And please attach your `ocelot.json` and downstream `swagger.json`.

Thanks.

[2020-06-17 15:51] luccasmf opened #110 "no operations defined in spec after upgrading to Version 2.3.0"
I'm using the ocelot as a gateway for 4 apis,

Everything was working fine, but, since I updated the SwaggerForOcelot version to 2.3.0, it is being shown that my APIs doesn't have definitions for operation. But, when I rolled back to the version 1.10.5 everything became functional again.

I'm trying to update  Ocelot to 1.6.0.1 and already have changed "ReRoutes" to "Routes" on the ocelot.json fil

[2020-06-18 12:31] Burgyn commented on #108
Hi,
if you have an idea how to implement it out then please make PR.

I currently don't have room to work it out.
thank you and sorry.

[2020-06-18 15:41] gromilQaaaa commented on #110
having the same issue, installed fresh latest SwaggerForOcelot - it works when I use .Net Core launcher, but doesn't when I use docker-compose

[2020-06-18 16:01] gromilQaaaa commented on #110
Don't forget to set SwaggerKey for each service

[2020-06-18 16:03] luccasmf commented on #110
I change the "SwaggerEndpoints" to SwaggerKey ?

[2020-06-18 16:08] luccasmf commented on #110
![image](https://user-images.githubusercontent.com/5990448/85045018-c6e58d00-b164-11ea-871d-009747e98207.png)

But I'm using it already

[2020-06-18 17:23] Burgyn commented on #110
Hi.

version from `2.0.0` references Ocelot `16.0.1` which have breaking change (rename ReRoute to Route).
This package support this changes.

If you have still problem with version 2.5.0, than please provide `ocelot.json` configuration and sample of your downstream `swagger.json`.

Thanks.

[2020-06-18 17:29] luccasmf commented on #110
@Burgyn  I'll try the 2.5 version to check,

With the 2.3 I'd tried the Ocelot 16.0.1, calling the endpoints was working, but The swagger part was not showing information. Thanks for now

[2020-06-18 18:06] luccasmf commented on #110
@Burgyn with the 2.5.0 it's working now, thanks for the update, I'll Close the incident

[2020-06-18 18:06] #110 closed

[2020-06-18 19:14] Burgyn commented on #110
I'm glad to hear

[2020-06-18 19:16] #34 closed

[2020-06-19 18:58] #94 closed

[2020-06-25 17:09] #98 closed

[2020-07-03 12:03] JethroCZ opened #112 "Configurations override by files with defined environment"
Hello, I have a question.
Is there posibility to set up AddOcelotWithSwaggerSupport to import all files, without defined environment, and override them by configuration from files with defined environment name?
I will have multiple files with Routes, and I want to have defined SwaggerEndPoints by themselves. And for Controllers of gateway itself I will need to define one endpoint for production (u

[2020-07-03 12:12] jigneshnarain opened #113 "The swagger endpoint does not change when hosting the gateway in a virtual directory on IIS"
When hosting the gateway the in a virtual directory, swagger does not work. Swagger only works when gateway is hosted in the root.

**Expected** /gateway/swagger/docs/v1/servicename
**Actual** /swagger/docs/v1/servicename

When manually navigating /gateway/swagger/docs/v1/servicename, the json is returned as expected.

I've also tried, but no luck.

app.UseSwaggerForOcelotUI(opt => {
	opts.ServerO

[2020-07-03 19:46] Burgyn commented on #113
Hi,

try to set `VirtualDirectory` property on route definition.

[code]

[see readme - virtual directory](https://github.com/Burgyn/MMLib.SwaggerForOcelot#virtual-directory)

[2020-07-05 21:08] awilkinsx opened #114 "Getting 404"
Hey! Sorry if I'm missing something basic but I've been attempting to get this to work for a bit now. Once I spin up the docker containers I just get a 404 response for the swagger docs though. Any help would be awesome!

Here is my set up

[code]

[code]

[code]

[2020-07-05 21:23] awilkinsx commented on #114
Changing to this seems to have fixed it. Not sure how I messed that up.
[code]

[2020-07-05 21:23] #114 closed

[2020-07-06 08:11] jigneshnarain commented on #113
This does not work as my downstream services are self-hosted and only the gateway is hosted in a virtual directory. A solution would be to change the relative path of the swagger ui endpoint to "**../**swagger/v1/swagger.json" (https://bartwullems.blogspot.com/2018/08/aspnet-coreswagger-error-when-using.html). I have test this but the relative path does not work.

[2020-07-06 09:28] Burgyn commented on #112
Hi,

unfortunetly current implementation is as you describe. If you have idea how to implement its, you can create PR. Contributions is open :-)

In our projects for different configurations in different environment we use [AppConfiguration Service discovery provider](https://github.com/Burgyn/MMLib.Ocelot.Provider.AppConfiguration). We have one `ocelot.json` file with Route definitions and differ

[2020-07-06 11:39] Burgyn commented on #113
Hi,

try to set property `PathToSwaggerGenerator`.

[code]

I didn't test it, currently I don't have time to simulate this. Sorry.

[2020-07-06 12:11] jigneshnarain commented on #113
Hi

I resolved the issue. I needed to set the DownstreamSwaggerEndPointBasePath

app.UseSwaggerForOcelotUI(opt => {
  opt.DownstreamSwaggerEndPointBasePath = "../swagger/docs";
})

[2020-07-06 12:11] #113 closed

[2020-07-06 16:24] matsch01 opened #115 "No operations defined in spec!"
Swagger returning "No operations defined in spec!" despite fact that api returns paths in json.

![image](https://user-images.githubusercontent.com/1692616/86616148-b8490380-bfb5-11ea-82d5-6d43508dd0dc.png)

Swagger Json Returned from API
http://localhost:5002/swagger/v1/swagger.json
![image](https://user-images.githubusercontent.com/1692616/86615738-293beb80-bfb5-11ea-9c68-6d1e982ed6e3.png)

Swag

[2020-07-06 16:35] matsch01 commented on #115
There was a trailing space in "Routes ".

[2020-07-06 16:36] matsch01 commented on #115
There was a trailing space in "Routes ".

[2020-07-06 16:36] matsch01 commented on #115
There was a trailing space in "Routes ".

[2020-07-06 16:36] #115 closed

[2020-07-08 10:56] matsch01 opened #116 "How support Basic Auth middleware to protect Swagger?"
I'm trying to implement this solution to apply Basic Auth to only requests for Swagger:

https://stackoverflow.com/questions/51352018/secure-swagger-docs-page-with-username-and-password-asp-net-core-2-1

But ocelot complains that /swagger/index.html returns 401.

How can I make this work?

[2020-07-08 12:34] JethroCZ commented on #112
Hello, thak you for reply.

I bet we will soon need some kind of implementation. We might take a look at this service discovery provider you sugested.
Or we might alter swagger for ocelot nuget and send PR:) Only time will tell.

[2020-07-08 12:34] #112 closed

[2020-07-08 13:56] matsch01 commented on #116
I solved this another way. Since we are hosting this in kubernetes I created an ingress that specifically handles requests to /swagger and also handles the basic auth. This worked out great since I can bypass ocelot (and not require this library), and didn't require special auth handling in the api.

[2020-07-08 13:56] #116 closed

[2020-07-09 14:04] elerbe opened #117 "Duplicated Scheme"
**Describe the bug**
Schemas in generated request url are duplicated.

This bug is same as #53. Which was fixed in [commit](https://github.com/Burgyn/MMLib.SwaggerForOcelot/pull/67/commits/b535b67365aae02c825efcc263a42a2ec41bc61c)
But in version 2.0.2 was changed again: [commit](https://github.com/Burgyn/MMLib.SwaggerForOcelot/commit/ac38873b326d6b84e59462140a55db2882351043)

**To Reproduce**
My s

[2020-07-11 18:54] #95 closed

[2020-07-14 10:22] Burgyn commented on #117
Hi,

how is possible that you have scheme (`http`) in Host header?

Can you provide more information, which can help simulate this behaviour?

Thanks.

[2020-07-23 15:42] #108 closed

[2020-07-24 15:50] natiox commented on #117
Same issue here.
Under generated page "Try it out"
Request URL: https://https://localhost:44325/api/user

[2020-07-27 04:38] Burgyn commented on #117
Hi @natiox

please can you provide demo? Because I cannot reproduce it.

Thanks.

[2020-07-27 15:01] DaleyKD commented on #59
Thanks so much for taking the time on this package.  Any idea on a timeline for this? We have routes like this:

[code]

and can't use this package until this issue is resolved.

Thanks again.

[2020-07-27 16:11] natiox commented on #117
[SwagForOcelotProblemDemo.zip](https://github.com/Burgyn/MMLib.SwaggerForOcelot/files/4983063/SwagForOcelotProblemDemo.zip)
Attached is a demo solution.  Set both projects to start.  Requires Azure Emulator to be installed.  This demo was failing to run the first time.  I stopped it and tried again and it ran.

[2020-07-28 08:31] abodehq opened #118 "Customize Swagger UI"
Great Library Thanks,

I just want to know how we can customize the swagger ui ( inject custom css and index.html)

it will be great if you can show us some simple example//

thanks again.

[2020-07-28 11:35] Burgyn commented on #117
Hi @natiox

I would like to help, but I have trouble reproducing it. If I use your example, everything works.
I believe there is a problem. But I would like to know the conditions when it occurs.

If you have an idea of ​​what may be different then write.

![image](https://user-images.githubusercontent.com/5930822/88660455-080f7c00-d0d7-11ea-9060-b329abf1d45c.png)

[2020-07-28 12:23] Burgyn commented on #59
Hi @DaleyKD

Thanks for your issue. Your use case looks different. @ondrix  try to used constant value `95` instead of route parameter `{something}`.

Your scenario can work. [See my example.](https://github.com/Burgyn/Sample.OcelotWithRoutingParameters)

[2020-07-28 13:42] natiox commented on #117
In that demo project, try Swagger on the gateway instead.  https://localhost:44325/swagger/

[2020-07-28 14:04] DaleyKD commented on #59
@Burgyn : Thanks, man.  I totally missed that.

While we may not use this in a production scenario for our needs, it does seem like it'll be VERY good for local development.

Thank you VERY much for your effort on this.

[2020-07-31 10:58] Burgyn commented on #117
Hi @natiox,
Thanks. My mistake 😳

I'm not sure why this happens with your configuration.
But as a workaround can try to set the `HostOverride` property to `""`.

[code]

[2020-07-31 11:17] Burgyn commented on #118
Hi @abodehq,

I've never tested its. But you can try this tutorial for [Swashbuckle](https://code-maze.com/swagger-ui-asp-net-core-web-api/). Section **Customizing the UI**.

[2020-07-31 16:07] natiox commented on #117
Did some debugging with the project source.  Looks like you are emitting Swagger 2.0.  According to the [Swagger 2.0 specs](https://swagger.io/docs/specification/2-0/api-host-and-base-path/),

Possible fix:
SwaggerJsonTransformer.cs
[code]

[2020-08-10 09:16] tayfunuyar opened #119 "Api gateway swagger not read microservice swagger json"
Hi guys,
I have a problem with read microservice swagger.json.
Can you help me please?
![image](https://user-images.githubusercontent.com/27923376/89767767-40fe1680-db03-11ea-8137-cf84157b51eb.png)

[2020-08-24 19:37] Hantsch opened #120 "Controll access / visability to routed endpoint"
**Is your feature request related to a problem? Please describe.**
I want to controll access to who is able to see and access certain api's. I want them to be for example, authorized and have a specific role assigned for each endpoint to see.

**Describe the solution you'd like**
A delegate where i can interact with the endpoint and controll if the endpoint gets routed.
I made a patch with an exam

[2020-08-25 06:34] Burgyn commented on #119
Hi,

Please can you provide downstream `swagger.json` and your `ocelot.json` files?

thnaks.

[2020-08-25 08:44] fr4nky80 opened #121 "With version 1.9.0 the http scheme is duplicated"
**Describe the bug**
Only happens with swagger version 2
SwaggerForOcelotMiddleware method invoke, you use this:
[code]
but in version 1.4.0 use this:
[code]

this makes the HTTP requests duplicate the scheme, example:

http://http://localhost

**Expected behavior**
should be localhost but it's http://localhost, which means that the api calls are incorrect since it includes twice the scheme.

**To

[2020-08-25 10:09] Burgyn commented on #121
Hi,
thanks for your issue.

This issue looks the same as #117.

I'll try to fix it next week.
As a tempolary workaround, you can try to setting the `HostOverride` property to `""`.

[code]

[2020-08-25 17:58] fr4nky80 commented on #121
Thanks this works!!!

[2020-08-26 05:11] tayfunuyar commented on #119
I change https configuration.Now working.Thank you for response.

[2020-08-26 05:11] #119 closed

[2020-09-02 11:34] #121 closed

[2020-09-02 11:40] Burgyn commented on #120
Hi,

thanks for your issue. Please can you provide Pull Request?

[2020-09-04 20:02] #118 closed

[2020-09-06 09:02] #117 closed

[2020-09-06 09:12] Burgyn commented on #117
Hi,

this bug is fix in version `2.5.1`. Great thanks to @jacojvv-dev and @natiox

[2020-09-23 19:57] pateljeel opened #123 "Support for multiple instances of gateways"
Currently, i have two instances of the same gateway with little differences. They both use multiple ocelot files (merging configuration files feature) and they are segregated into two separate folders each containing `ocelot.SwaggerEndPoints.json` file.

For instance, under a folder called `Gateways` I have two separate folders called `Mobile` and `Web` They both have multiple `ocelot.[A-Za-z0-9].

[2020-09-24 14:24] FiskaniC opened #124 "Undefined"
**Describe the bug**
Fetch error: undefined /gateway/swagger/docs/v1/contacts. When trying to run the demo application I get this error. Also when trying to run the package in my Ocelot apigatway.

**Expected behavior**
Should be able to navigate through the different apis

**To Reproduce**
Get demo solution. Run services and apigateway.

![image](https://user-images.githubusercontent.com/40929607

[2020-09-24 18:19] Burgyn commented on #124
Hi,
please can you check the address where your instance of `companies` service is running?
In configuration is set `http://localhost:5100`. Is your instance of `companies` running on this address?

[2020-09-25 12:48] FiskaniC commented on #124
It worked thanks. I was configuring swagger on the Ocelot api itself which broke. Removing the swagger confit worked.

Warm Regards

Fiskani Chirwa
Cell: 0718707091
Sent from my iPhone X

[2020-09-25 13:29] pateljeel commented on #123
@Burgyn

[2020-09-25 15:26] #124 closed

[2020-09-25 16:20] pateljeel opened #125 "Add fileName as a parameter to `.AddOcelotWithSwaggerSupport()` Extension method to support multiple instances of gateway"
**Is your feature request related to a problem? Please describe.**
Currently, i have two instances of the same gateway with little differences. They both use multiple ocelot files (merging configuration files feature) and they are segregated into two separate folders each containing ocelot.SwaggerEndPoints.json file.

It would be really helpful if you could pass in the fileName as a parameter for

[2020-09-25 16:20] #123 closed

[2020-09-26 18:31] Burgyn commented on #125
Hi,
thanks for your feature request.

[This feature is implemented in release `v2.6.0` ](https://github.com/Burgyn/MMLib.SwaggerForOcelot/releases/tag/swaggerforocelot_v2.5.2)

You can call:
[code]

[2020-09-26 18:40] #125 closed

[2020-09-29 11:37] DaKaLKa opened #128 "SwaggerJsonTransformer seems to remove unreferenced type"
To generate my swagger.json (OpenAPI), I'm using swashbuckle with some IDocumentFilter that add some additional types to the swagger.json (types which are not used as parameter in any endpoint).
The original swagger.json (OpenAPI) is correct and swagger-ui is displaying all types.

The swagger.json and the ui that is provided by SwaggerForOcelot seems to remove some "component.schemas"-entries.

*

[2020-09-29 12:18] Burgyn commented on #128
Hi,

Thank you for your issue. By design, this package removes unused types from the output swagger json.
If you want, you can set `"TransformByOcelotConfig": false` on `SwaggerEndpoint`. However, this means that the source swagger will not be transformed at all.

---
I can imagine that I will support setting whether unused types should be removed, but this is not the case at the moment.

[2020-10-07 21:52] #120 closed

[2020-10-14 22:25] djesusnet commented on #85
Hello guys,

I'm having trouble running Swagger from my gateway api.
![image](https://user-images.githubusercontent.com/50085026/96051908-e068be00-0e52-11eb-93c2-c5ebeebb1893.png)

As we saw the image when executing get, a 404 error occurs and when I go to the api other than the gateway, it works correctly. Do you know what it can be?

[2020-10-15 10:41] djesusnet opened #129 "MMLib - 404 error occurs when running Swagger"
**Describe the bug**
I'm using the latest version, but I can't run the swagger, because a 404 error occurs.

**Expected behavior**
Expected behavior was to run the swaggers that are configured in appsettings.

**To Reproduce**
If it is a possible attache:
1. Original downstream `swagger.json`.
2. Ocelot ReRoutes configuration.
[appsettings.Development.zip](https://github.com/Burgyn/MMLib.SwaggerFo

[2020-10-16 06:51] Burgyn commented on #85
Hi @djesusnet

You use Ocelot with version `16.0.1.` [which have breaking change](https://github.com/ThreeMammals/Ocelot/releases/tag/16.0.0), that rename `ReRoutes` -> `Routes` and you still using `ReRoutes` in your configuration.

Try rename `ReRoutes` to `Routes` and remove property `TransformByOcelotConfig` from `SwaggerEndPoints`.

[2020-10-16 12:22] Burgyn commented on #129
Hi @djesusnet

You use Ocelot with version `16.0.1.` [which have breaking change](https://github.com/ThreeMammals/Ocelot/releases/tag/16.0.0), that rename `ReRoutes` -> `Routes` and you still using `ReRoutes` in your configuration.

Try rename `ReRoutes` to `Routes` and remove property `TransformByOcelotConfig` from `SwaggerEndPoints`.

[2020-10-16 16:44] djesusnet commented on #129
Hi @Burgyn,

Thank you so much, it worked!

[2020-10-16 17:01] Burgyn commented on #129
I like hear that.

[2020-10-16 17:01] #129 closed

[2020-10-21 16:45] hallidev opened #130 "Add support for DelegatingHandlers to outgoing HTTP calls"
**Is your feature request related to a problem? Please describe.**
We need to pass certificates from our Ocelot gateway to underlying APIs. To handle this requirement, we need to add a DelegatingHandler to the call from the gateway to underlying API.

**Describe the solution you'd like**
Ocelot supports the following:

[code]

Could Swagger for Ocelot support something similar?

**Additional conte

[2020-10-21 17:02] Burgyn commented on #130
Hi,
Unfortunately, this package does not currently support this.
PRs are open. So if you have an idea how to implement it, I will be grateful for your help

[2020-10-21 18:36] alanag13 commented on #128
@Burgyn This is a problem for types that are derived from other types (via `allOf: [{"$ref": "#/definitions/path"}, {...other props...}]`).
In this case, only `other props` seem to be considered, and the ref'd types are considered "unused" and eliminated, resulting in invalid swagger.

For example, the below swagger, when transformed, would remove the `Bar` type, although it is referenced and need

[2020-10-21 18:37] alanag13 commented on #128
I made a quick reproduction of this here:
https://dotnetfiddle.net/zEQV4N

You can see that the `Bar` type is not output.

[2020-10-21 18:39] hallidev commented on #130
A colleague is putting together a PR now

[2020-10-21 18:49] alanag13 commented on #128
@Burgyn I'm realizing that what I'm describing above is most likely a bug and different than the "by design" choice to remove types that are _truly_ unused -- let me know if I should create a separate issue for this.

[2020-10-22 06:31] gopi2722 opened #131 "This page isn’t workinglocalhost is currently unable to handle this request. HTTP ERROR 502"
**Describe the bug**
I got error on publishing gateway on iis default port

my swagger json
{
  "Routes": [
    {
      "DownstreamPathTemplate": "/api/{everything}",
      "UpstreamPathTemplate": "/api/cinema.svc/{everything}",
      "DownstreamHostAndPorts": [
        {
          "Host": "localhost",
          "Port": 8100
        }
      ],
      "SwaggerKey": "cinema.svc"
    }
  ]
},{
  "Swag

[2020-10-26 20:14] Burgyn commented on #128
Hi @alanag13,
I'll look into it tomorrow or the day after tomorrow. Sorry, I'm pretty busy right now.

[2020-10-26 20:19] Burgyn commented on #131
Hi,

can you please provide more detailed information? According to this description, I do not know what the error is.

[2020-10-30 12:30] #128 closed

[2020-10-30 12:40] Burgyn commented on #128
Hi @alanag13,

thanks for your report and effort which help me to reproduce it.

This bug is fixed by PR #132 and now is publishing to nuget as version `v2.1.6`.

[2020-10-30 15:17] alanag13 commented on #128
Thanks @Burgyn ! I'll try it out right away.

[2020-11-09 20:42] #131 closed

[2020-11-26 02:53] #130 closed

[2020-12-10 18:00] #24 closed

[2020-12-10 18:01] Burgyn commented on #24
This feature will be released in a few minutes in package version `v3.0.0`.

[2020-12-17 22:32] assadf opened #135 "Polymorphic API (base and sub type models) in downstream services doesn't seem generate schemas in swagger.json"
Hi,

In one of my downstream services, I have an API Endpoint which has a polymorphic model (base and sub types).  When I configure the services.AddSwaggerGen in my downstream service to UseOneOfForPolymorphism(), the schemas aren't generated in the OpenAPI JSON schema hence are not displayed in the Gateway Swagger UI.  When I navigate to the Swagger UI directly to my downstream service it correct

[2020-12-18 06:20] Hantsch opened #136 "I would like to be able to control who can access certain endpoints, also control the visibility/availability of the endpoints."
Hello,

I have the scenario to control access to certain endpoints (either under development, or for internal use only).
To be able to see swagger endpoints on the API Gateway you need to be logged in. I use the roles of the user to determine if he can view certain endpoints like (api_view_oders_v2). With this solution I can only restrict the view not the access so I would need a middleware or int

[2020-12-18 06:53] Burgyn commented on #136
Hi,

thanks for discribing this issue and your effort. Your implementation looks good. Please can you provide Pull Request from your fork?
If yes, please add few words about it to documentation in readme file.

Thanks.

[2020-12-18 06:54] Hantsch commented on #136
Sure will do that, thanks.

[2020-12-18 06:54] #135 closed

[2020-12-18 07:04] Burgyn commented on #136
Yes, directly in `readme.md` file.

Thanks.

[2020-12-18 09:55] #136 closed

[2020-12-18 09:57] Burgyn commented on #136
Thanks for help. This feature will be release as version `v_3.0.1` in a few minutes.

[2020-12-31 09:17] mcslove808 opened #142 "DownstreamScheme is lost"
**Describe the bug**
System.UriFormatException: Invalid URI: The URI scheme is not valid.

 private string GetScheme(ServiceHostAndPort service, RouteOptions route)
            => (route != null && !route.DownstreamScheme.IsNullOrEmpty())
            ? route.DownstreamScheme
            : !service.Scheme.IsNullOrEmpty()
            ? service.Scheme
            : service.DownstreamPort

[2020-12-31 09:29] Burgyn commented on #142
Hi,

thank you for your issue. Unfortunately, from this description I do not understand what is wrong. Please try to describe it more clearly. Well thank you.

[2020-12-31 09:39] mcslove808 opened #143 "Hi,"
Hi,
I see you've just added it
DownstreamScheme = route.DownstreamScheme
You can update The SwaggerForOcelot version of NetCoRE3.1 on Nuget.org, which I'm using

_Originally posted by @Burgyn in https://github.com/Burgyn/MMLib.SwaggerForOcelot/issues/142#issuecomment-752902427_

[2020-12-31 09:39] #143 closed

[2020-12-31 09:39] mcslove808 commented on #143
重复了

[2020-12-31 09:40] mcslove808 commented on #142
Hi,
I see you've just added it
DownstreamScheme = route.DownstreamScheme
You can update The SwaggerForOcelot version of NetCoRE3.1 on Nuget.org, which I'm using

[2020-12-31 10:35] Burgyn commented on #142
Hi,

for you 😉 I fixed it to version `3.1.1`. Try it.

https://www.nuget.org/packages/MMLib.SwaggerForOcelot/3.1.1

[2020-12-31 15:01] mcslove808 commented on #142
thank you

[2020-12-31 17:49] #142 closed

[2021-01-14 14:50] boonto opened #146 "IndexOutOfRangeException when accessing swagger/docs"
**Describe the bug**
I get a
[code]
when running the demo `APIGateway` and accessing `/swagger/docs`. it does not matter whether one or more services are running in the background. It seems this is caused due to an empty `context.Request.Path` in `SwaggerForOcelotMiddleware.Invoke()`.

**Expected behavior**
No exception.

**To Reproduce**
If it is a possible attache:
1. `dotnet run` in `demo/ApiGa

[2021-01-14 17:48] n-shay commented on #146
`/swagger/docs` is expecting the service/endpoint version and key in the following format: `/swagger/docs/v1/orders`.

The key and version are the values from "SwaggerEndPoints" settings.

[2021-01-15 05:52] Burgyn commented on #146
Hi,

as @n-shay  says, when you want got docs json, you have to add version and endpoint to path. When you want show documentation, access `http://localhost:5000/swagger/index.html`.

[2021-01-15 10:43] boonto commented on #146
Oh sure, the individual endpoints work fine. I just wasn't expecting to get the exception, rather a 404 or something similar.

[2021-01-15 10:50] Burgyn commented on #146
Hi @boonto,

I'm glad to hear it works. Yes `404` would be better.

[2021-01-15 10:50] #146 closed

[2021-01-28 10:52] RonniePoulsen opened #147 "Failed to load API definition."
Hi,

I am not quite sure whether this issue has to do with Ocelot or Swagger configuration. But here goes.

On our project we have an Ocelot application (aspnet core 3.1) which, so far, has one downstream microservice and additional microservices coming over time. Now I am in the process of setting up SwaggerForOcelot, but something is killing me in the configuration part.

**Describe the bug**
Ou

[2021-01-28 13:24] RonniePoulsen commented on #147
Hi,
Just a note. Same thing happens for me when running your demo application. So it seems that the issue is not specific for my application?

[2021-01-29 06:24] Burgyn commented on #147
Hi @RonniePoulsen
thanks for your issue.

Please try the following configuration:
[code]

And try launch swagger docs UI at ` localhost:44382/gateway`.

[2021-01-29 15:49] aarondglover opened #148 "Self Documentation/Gateway Documentation"
Hi,

I've followed the instruction to try and enable Gateway documentation but I am having issues.

Note: It is otherwise working perfectly except these steps - also note that /administration api is working perfectly.

One step of the instructions is to add;

`app.UseSwagger();`

This however causes exception at Startup. Please see below stack. Removing the above line removes the exception.

[code

[2021-01-29 20:51] Burgyn commented on #148
Hi @aarondglover,
thanks for reporting this issue.

Unfortunately I can't reproduce it. I need your help.
Please can you write which version of this package you use? If you use the `Swashbuckle.AspNetCore` package directly, its version as well.

Please also write me how you call `AddSwaggerForOcelot` method in `ConfigureServices`.

---
Ideal if you can isolate this issue into the demo app.

Thanks

[2021-01-31 12:21] RonniePoulsen commented on #147
Hi @Burgyn,
I have tried what you proposed.
[code]
But it doesn't change anything. I'm still getting the same error message **"Failed to load API definition"**.

I noticed these two errors in the output window of Visual Studio on startup, but can't figure out what it means:

`Ocelot.Responder.Middleware.ResponderMiddleware: Warning: requestId: 800001d2-0001-ff00-b63f-84710c7967bb, previousRequestI

[2021-01-31 13:57] Burgyn commented on #147
Hi,
I am not currently at the PC. At first glance it looks (from mobile) that Ocelot is trying to find a route configuration for request from SwaggerUI. Is's because `/gateway/{everything}`. For testing, try next configuration:
[code]

And try launch swagger docs UI at `localhost:44382/swagger`.

If that doesn't help, I'll look into it tomorrow

[2021-02-01 09:22] simbadltd opened #149 "Path parameter custom type disappears during transformation"
**Describe the bug**
Some references could not be resolved through ocelot while they're exist in the original swagger json.

In the following sample `GET /api/test` has parameter with type `ProblemRequestFilter` and response with type `RecordsModel`.  But transformed json doesn't contain `ProblemRequestFilter`.

**Expected behavior**
`ProblemRequestFilter` type exists in processed swagger json

**

[2021-02-01 11:21] #149 closed

[2021-02-01 11:23] Burgyn commented on #149
Hi,

thanks for reporting this issue.
It's fixed by PR #150 and will be release in a few minutes as version `4.0.1`.

[2021-02-03 16:29] slarkerino opened #151 "Work with Ocelot Dynamic route"
Can this library integrate with ocelot's dynamic route feature?

[2021-02-03 18:05] kurtisane opened #152 "Programmatic attempt to add Swagger Endpoints"
Hi,
I kind of followed following issue :
https://github.com/Burgyn/MMLib.SwaggerForOcelot/pull/105
https://github.com/Burgyn/MMLib.SwaggerForOcelot/issues/104

I just get a blank view. So opening localhost/swagger/docs goes somewhere, but its just white background.
What am I missing ?

And implemented as follows :

[code]

My Ocelot Config (Shortend) :
[code]

[2021-02-03 18:39] Burgyn commented on #152
Hi @kurtisane,

I am not currently at the PC. At first glance (from mobile) it's look that you have incorrect order in `Configuration` section.
When registering middleware depends on the order. `Ocelot` middlewate should be the last.

[code]

[2021-02-03 18:40] #152 closed

[2021-02-04 11:56] thebadicon commented on #148
I'm also having this issue.

Versions of the libs I use:

MMLib.SwaggerForOcelot: 3.2.0
Ocelot: 16.0.1
Swashbuckle.AspNetCore.Swagger: 5.6.3
Swashbuckle.AspNetCore.SwaggerGen: 5.6.3
Swashbuckle.AspNetCore.SwaggerUI: 5.6.3

I'm also bound to .net core 3.1 version.

Everything works (without self documentation) up until I try to use` app.UseSwagger();`

[2021-02-05 11:40] Burgyn commented on #148
Hi @thebadicon,

this information helped me solve it. This problem was solved in version `4.0.1`. You probably can't migrate to `.NET 5`, so I fixed it in version `3.2.1` too.

Please @thebadicon, @aarondglover try version [3.2.1](https://www.nuget.org/packages/MMLib.SwaggerForOcelot/3.2.1) and let me know if it helped you.

Thank you for helping me improve this project.

[2021-02-05 12:37] Burgyn commented on #47
Hi,
is there something new?

[2021-02-05 12:58] #151 closed

[2021-02-08 11:01] RonniePoulsen commented on #147
Hi @Burgyn,
That doesn't work either.

To understand how your library works, I have been looking at your demo. But as I mentioned in my previous comment, that doesn't work for me either. When running the ContactService, OrderService and the ApiGateway together, I would expect to be able to view Swagger schemes for these services. I can choose the services and versions from the drop down menu. But

[2021-02-08 15:06] thebadicon commented on #148
Hello, Burgyn

thank You. I've updated the package to 3.2.1 version and problem no longer persists.

Thank you for making it work in `.net core 3.1`.

[2021-02-09 05:50] Burgyn commented on #147
Hi @RonniePoulsen,

I can't rule out a general bug, but I don't suppose. Because this package is used by many users and no such issues have been reported.

---

- What version of this package are you using? Respectively, in the case of a demo, which version do you have downloaded?
- On which ports are the services running? Gateway expect `ContactService`:`5100` and `OrderService`:`5400`.
- [Please

[2021-02-11 00:41] #148 closed

[2021-02-14 00:43] #47 closed

[2021-02-14 11:26] teomane opened #157 "Including XML comments for gateway itself documentation"
Hello, Thanks for this great repository. I use this library in my projects very often and I need an important but simple feature which is including XML comments for gateway itself documentation. So, I will send a PR for that.

[2021-02-15 11:43] Burgyn commented on #157
Thanks for your contribution.

This issue is closed by your PR #158.

It will be released in a few minutes as version `4.2.0`.

[2021-02-15 11:43] #157 closed

[2021-02-15 13:46] teomane opened #160 "DocumentFilter feature for gateway itself documentation"
I do not need to display some controllers in my swagger of API Gateway such as FileConfigurationController and OutputCacheController. So, I need to filter some documents with DocumentFilter for the gateway itself.

[2021-02-16 11:50] Burgyn commented on #160
This issue was implemented by PR #161

[2021-02-16 11:50] #160 closed

[2021-02-17 10:30] teomane opened #162 "security definition and security requirement options for gateway itself documentation"
Security options are required for authorized gateways. Simply, AddSecurityDefinition and AddSecurityRequirement methods should be available on OcelotGatewayItSelfSwaggerGenOptions.

[2021-02-18 00:41] #147 closed

[2021-02-18 06:55] Burgyn commented on #162
Implemented in PR #163

[2021-02-18 06:55] #162 closed

[2021-02-19 15:08] samuelpratt opened #164 "Aggregate swagger returns 500 when runnining in container but 200 when called from within container"
**Describe the bug**
Aggregate swagger URL /swagger/docs/aggregates/aggregates doesn't work externally when running in Docker

**Expected behavior**

**To Reproduce**

Create an Ocelot API gateway.
Create two apis with routes
Create an aggregate route
Enable on aggragate route documentaton
Run the gateway in docker expsosing a port
Navigate to http://localhost:<your exposed port>/swagger/docs/aggr

[2021-02-22 09:38] Burgyn commented on #164
Hi @samuelpratt,

thanks for your report.

Please if you have time you can prepare a demo where you reproduce this issue?

It will help me investigate this issue faster.

Thanks a lot.

[2021-02-24 01:10] Kum4r4n opened #165 "Swagger Endpoint not working with ingress"
HI,
Now I am deploying the microservices in azure Kubernetes, for the time I am using an ingress controller with the path after path is defined,
swagger not working for all services

![image](https://user-images.githubusercontent.com/31638942/108929832-c04fd380-766a-11eb-972e-9ae4d4675dc6.png)

this is ingress path define

`apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: bubl

[2021-02-26 07:19] Burgyn commented on #165
Hi @Kum4r4n,
Can you please provide more detailed information?
I have no experience with Ingress. So I have no idea what's going on there.

Thanks.

[2021-03-02 14:10] samuelpratt commented on #164
Hi @Burgyn,

Thanks for your response.

Sorry for the delay in getting back to you. I've put code to reproduce this here: https://github.com/samuelpratt/SwaggerForOcelotBug.

The issue seems to be caused when the http port is mapped comming into the container. See the readme file for more details.

Kind regards,

Sam

[2021-03-07 00:46] #165 closed

[2021-03-08 14:35] Burgyn commented on #164
Hi @samuelpratt,
thanks for your effort and sharing demo. This week I'll try to look at it.

Miňo.

[2021-03-09 07:08] Burgyn commented on #164
Hi @samuelpratt,

this should be fixed in version `4.4.1` which will be released in a few minutes.

Please check it.

[2021-03-09 12:09] samuelpratt commented on #164
Hi @Burgyn,

Thanks for this. This seems to have fixed the issue. However, when testing I noticed something else:

I updated all my Nuget packages to the latest versions. When I update swashbuckle to >v6 it introduces another issue: -

`
System.MissingMethodException
  HResult=0x80131513
  Message=Method not found: 'Void Swashbuckle.AspNetCore.SwaggerGen.SchemaRepository..ctor()'.
  Source=MMLib.S

[2021-03-09 16:09] Burgyn commented on #164
Hi,

I'm glad I helped.
Please create the new issue for the problem with the swagger version. Thanks.

[2021-03-12 11:05] omeruygun opened #167 "Microservices Swagger Files Not Loading Correctly"
**Describe the bug**
I made a configuration like examples. I develop multible microservices like User, Project etc. I publish then apps to IIS on 80 port. Gateway project not load other microservices endpoint and swagger file correctly.

**Expected behavior**
I am waiting for the other endpoints to load correctly.

**To Reproduce**
If it is a possible attache:
My ocelot.json file is: [https://tran

[2021-03-19 08:05] Burgyn commented on #167
Hi @omeruygun,

thank for issue. Unfortunately, base on the information provided, I cannot reproduce the problem.

Please can you prepare an executable demo, ideally without IIS hosting, where you will reproduce this problem?
Thanks a lot.

[2021-03-19 13:04] omeruygun commented on #167
Hi @Burgyn , I am publishing applications to IIS. Because it is my customer enviroment is windows. Firstly my applications under Default Application (Port 80) and each application structure like MainWebSite/Microservice1, MainWebSite/Microservice2 etc.
Each microservices broadcast 80 port but each url like http://localhost/MainWebSite/Microservice1 or http://localhost/MainWebSite/Microservice2

I

[2021-03-21 14:44] Burgyn commented on #167
Hi.

I understand.  But when I try to simulate your situation it works properly.  That's why a demo would help me.

[2021-03-23 06:57] omeruygun commented on #167
Hi, i preparing virtual machine image for demo. It is done then upload and send download link.

[2021-04-01 12:06] Burgyn commented on #167
Hi @omeruygun,

thanks. I'll look into it next week

[2021-04-01 20:10] risker91 commented on #167
Hi @Burgyn look here
file: SwaggerJsonTransformer.cs
start line 137
 string version = paths.Root["info"]["version"].Value<string>();
 string downstreamPath = path.Name.RemoveSlashFromEnd().Replace("v{version}", version);

helped me

[2021-04-07 12:55] Burgyn commented on #167
Hi @omeruygun,

The problem is that in your downstream services swagger documentation is information about the OA3 Server.

I'm not sure why you have it that way. I tried to research it, but it looks like some hidden **Swashbuckle.AspNetCore** functionality, because if I run the project locally, the information is not there.

As a workaround, I suggest clearing the list of servers in downstream se

[2021-04-07 12:57] Burgyn commented on #167
Hi @risker91

I'm sorry, but I don't understand your comment.

[2021-04-09 08:49] can-acar opened #172 "Swagger is not working in v4.4.1 but is working 4.4.0"
**Describe the bug**
Hey mate i want to  report  an error:
- SwaggerForOcelot 4.4.1 with Swagger not working on .Net Core 5.0.202 but request pipeline is working
- SwaggerForOcelot 4.4.0 with Swagger is working on .Net Core 5.0.202 but request pipeline isn't working

[2021-04-13 13:13] Burgyn commented on #172
Hi @can-acar,

Please can you specify in more detail what exactly does not work?
Can you prepare a demo where you reproduce the problem?

Thank you.

[2021-04-16 00:16] #167 closed

[2021-04-20 11:11] oguzhankahyaoglu opened #173 "Swagger response too slow for big swagger documents"
Hello,

We are currently implementing a bff middleware ahead of our current project, which exposes a giant swagger document.

In my local environment, when I send request to existing backend swagger document directly in postman, i can get response in 1 second, whereas the ocelot's response comes in 24 seconds, which is too much.

Wil it cause problems when we post json requests that has 2mb respon

[2021-04-22 00:18] #172 closed

[2021-04-23 09:14] Burgyn commented on #173
Hi @oguzhankahyaoglu,

thanks for your issue.
I'll look into it next week.

[2021-04-25 03:15] zhanghaiboshiwo opened #174 "Cannot determine the frame size or a corrupted frame was received"
Cannot determine the frame size or a corrupted frame was received

[2021-04-25 10:41] oguzhankahyaoglu commented on #173
Hi @Burgyn , i suspect that u might be using a low performing string replace func maybe? since its trying to replace it...
btw, in ocelot json,u can see that i am trying to redirect all requests to the same upstream path that contains the huge swaggerdocument. in such cases, u can just skip replacing maybe?

[2021-04-26 07:58] Burgyn commented on #173
Hi @oguzhankahyaoglu,

as workaround you can turn off swagger transformation:

[code]

In this case, my package will not try to transform the source document based on the ocelot configuration.

---

The problem is that my package is trying to remove all unused references from the resulting swagger schema. I'll try to refactore it, but I don't give much of a chance.

[2021-04-26 09:11] oguzhankahyaoglu commented on #173
Since ppm-backend-core is the monolith project that we are trying to split and is behaving like a fallback service, this solved my issue; reduced loading time to 1.5 seconds.

Thanks

[2021-04-26 09:11] #173 closed

[2021-04-26 09:37] Burgyn commented on #174
Hi @zhanghaiboshiwo

I don't understand your issue.

[2021-04-26 09:52] Burgyn commented on #173
I am glad to hear that.

[2021-04-29 00:17] #174 closed

[2021-05-10 14:54] jimmy-vo-librestream commented on #73
I am on dotnet core 3.1. I had this problem in `2.5.1`. I upgraded MMLib.SwaggerForOcelot to `3.2.1` but it doesn't help.
Upgrading dotnet core to 5.0 is not an option for me. Is there any work around?

[2021-05-12 20:15] ashwindersingh opened #175 "Error While generating Documentation for the Aggregates"
I have multiple aggregates routes in the ocelot. The routes work perfectly fine if we make a request, but when i try to use swagger for aggregates it throws error saying same key is already added. Isn't Swagger should able to generate documentation for ocelot aggregates if routes works.

[code]
[code]

[2021-05-14 12:45] ilcos91 opened #176 "Route with catch all parameters are not shown"
In my microservices I have some route with catch all parameters ({**param}), like this:
![image](https://user-images.githubusercontent.com/59659091/118271784-07a76c80-b4c2-11eb-9d30-16efc48315e4.png)
If I go to the microservice swagger I can see them:
![image](https://user-images.githubusercontent.com/59659091/118272138-75ec2f00-b4c2-11eb-91f7-c9a00fa6a672.png)
But on the ocelot swagger they are n

[2021-05-17 06:21] Burgyn commented on #175
Hi,

thanks for your report. Please can you provide swagger docs of your downstream services? (`OrderService`, `LeadService`)

Thanks.

[2021-05-17 06:26] Burgyn commented on #176
Hi.

Sorry, but this is [known actual limitation](https://github.com/Burgyn/MMLib.SwaggerForOcelot#limitation).

[There is an issue for that.](https://github.com/Burgyn/MMLib.SwaggerForOcelot/issues/68)
I plan to work it out, but I don't have time for it at the moment.
If you want, PR are open :-)

[2021-05-17 14:28] ashwindersingh commented on #175
Health endpoint are the .Net Core Middleware health point

**Order Service**

// 20210517092624
// https://localhost:44352/swagger/v1/swagger.json

{
  "openapi": "3.0.1",
  "info": {
    "title": "ILS OrderManagement API",
    "description": "OrderManagement API for ILS",
    "version": "v1"
  },
  "paths": {
    "/OrderManagement/Cart/GetCart": {
      "get": {
        "tags": [
          "Cart"

[2021-05-18 19:37] Burgyn commented on #175
Hi,

unfortunately I can't reproduce it.
With the information you provided, the documentation will display correctly, see below.
Can you provide an runable sample project that reproduces this behavior?
Many thanks.

![image](https://user-images.githubusercontent.com/5930822/118712269-e2e42980-b820-11eb-8098-892865d27bb1.png)

[2021-05-18 20:21] ashwindersingh commented on #175
Can you please add another aggregate route?. It works for me also until I create the second aggregate route.

[2021-05-19 04:37] Burgyn commented on #175
I don't quite understand what you mean.
Because I have added two aggregate routes, just like you:

[code]

With two exceptions:
1. I don't use custom aggregators (I don't have your implementation and I don't think it affects it. Maybe yes.)
2. I have fill property `SwaggerKey` in `leadhealth` and `orderhealth`. Without that it fails on a completely different exception.

[code]

[2021-05-26 01:18] #176 closed

[2021-05-29 14:23] Navaladi2019 commented on #69
Hi,
 On such case if we can take ServiceName from route and map it to SwaggerKey.it will work

[2021-06-09 06:32] ShvetsovAU opened #177 "Show/redirect swagger from one ocelot project to another"
Hi.

We have two ocelot projects, which reroute requests from first to second. In second project we have next config (for example):

`{
  "Routes": [
    {
      "DownstreamPathTemplate": "/api/v2/Comment",
      "DownstreamHostAndPorts": [
        {
          "Host": "localhost",
          "Port": 5079
        }
      ],
      "DownstreamScheme": "http",
      "UpstreamPathTemplate": "/api/v2/Com

[2021-06-10 06:20] Burgyn commented on #177
Hi,

thanks for your issue.

In the first gateway use specific swagger endpoint insteadof generic `swagger.json`. (`"Url": "http://localhost:5888/swagger/v1/secondgateway"`)

[code]

[2021-06-15 07:45] ShvetsovAU commented on #177
Hi, thank you.

Work with next:

[code]

[2021-06-15 08:41] Burgyn commented on #177
Hi,
Thanks for the reply. I'm glad you solved the problem

[2021-06-15 08:41] #177 closed

[2021-06-15 14:33] cctron opened #178 "Totally lost with "No operations defined in spec!" message"
Hi there, I've recently discovered this library for Ocelot projects.

I was trying to implement it in my solution step-by-step, but I can't see the paths in the swagger

![image](https://user-images.githubusercontent.com/35351762/122070060-f2419d00-cdf5-11eb-9ee7-383eba7bc403.png)

I was looking for this issue in other post and testing any differents solutions but it don't still work.

Could you h

[2021-06-16 04:27] Burgyn commented on #178
Hi,
thanks for your issue.

Are you sure you have attached a complete `swagger.json` file? Because I only see two paths in it, `/configuration` and `/outputcache/{region}`. And in Ocelot definitions, I don't see a routing rule for these routes.

Thanks.

[2021-06-16 07:50] cctron commented on #178
Good morning Burgyn.

Yes, this is the complete swagger.json generated by the application. There isn't any controllers in the project, I only use the ocelot gateway as a bridge between the client and our APIs (We wan't that the client knows the real endpoint of the other services) . It can be the problem?

I'm going to add a dummy controller with the same route as appear in Upstream to test if in

[2021-06-16 08:45] Burgyn commented on #178
Hi.
One of the main features is the transformation of downstream documentation into upstream. Translation of paths, removal of paths that are not routed outside through ocelot, removal of unused components.

If you just want to publish the downstream documentation, you can set parameter `TransformByOcelotConfig` to `false`

[code]

I hope this helps you.

I wish you have a nice day.

[2021-06-16 08:48] cctron commented on #178
Hi again.

I've added a controller with the same route but it don't still appear in the swagger.json.

Back to the origins, I've tried to use the sample that appears in the "README.md" file of the project. But, surprise, it doesn't work too.

![image](https://user-images.githubusercontent.com/35351762/122187288-33d25680-ce8f-11eb-8779-1fea70272838.png)

In this time I've added an ocelot.json and c

[2021-06-16 08:55] cctron commented on #178
Sorry, I didn't refresh the page and I didn't see your reply. I'll try it

Give me 5 minutes ^_^

Thanks!

[2021-06-16 09:05] cctron commented on #178
Now appears the swagger.json information

![image](https://user-images.githubusercontent.com/35351762/122190549-34202100-ce92-11eb-88f8-f0e0d1942918.png)

But it's true, my custom routes included in "configuration.development.json" (or ocelot.json, whatever) don't still appear as path and I can't explain it.

Our client is waiting for this solution in production, so I'll have to find another solut

[2021-06-16 10:12] #178 closed

[2021-06-16 10:18] Burgyn commented on #178
Thank you for the information.

Good luck

[2021-06-24 02:17] #175 closed

[2021-06-30 07:37] aspramsh opened #179 "Swagger shows no endpoints when merging config files."
I would like to separate my ocelot configs with this method:
`.AddOcelot("/foo/bar", hostingContext.HostingEnvironment)`
like described in this doc: https://ocelot.readthedocs.io/en/latest/features/configuration.html
The problem is that if I separate SwaggerEndPoints sections I get the

If I move it to a separate file, then the endpoints are missing.
Do I miss something @Burgyn?

[2021-06-30 07:54] aspramsh commented on #179
I have found this issue and will try to do that, thanks:
https://github.com/Burgyn/MMLib.SwaggerForOcelot/issues/90

[2021-06-30 07:54] #179 closed

[2021-07-10 15:50] TsunamiNori opened #180 "Empty json path/No operations defined in spec!"
Hi,
I tried to use this library with Ocelot and Consul. Everything seems fine till it can't show any paths from other services.

![result](https://user-images.githubusercontent.com/8581853/125168533-36934380-e1d0-11eb-9c6d-8d78489e4595.PNG)

With Consul, I use ServiceName for service discovery. I've debugged and found out that my ServiceName became null as below
![debug1](https://user-images.githu

[2021-07-12 05:25] Burgyn commented on #180
Hi @TsunamiNori,

thanks for your issue. The problem is not in Consul or Service discovery. The problem is that this package tries to find paths in the documentation that are defined in ocelot configurations and throws them out if it doesn't find them. In your case, in the documentation tries to find paths starting with `/api/v1/`, but there is a path `/api/v{version}/Customer/{id}`.

I don't have

[2021-07-12 07:49] TsunamiNori commented on #180
Thank you so much @Burgyn . It's working now. I forgot about "TransformByOcelotConfig" and was thought using "TakeServersFromDownstreamService" is enough.

[2021-07-12 07:50] #180 closed

[2021-07-12 08:07] Burgyn commented on #180
I'm glad I helped.

Have a nice day.

[2021-07-19 13:57] namnik commented on #173
I have this issue too.
I used this solution `"TransformByOcelotConfig" : false`,
this config correctly worked. But now I have a new problem: when calling my Apis into swagger, it's calling with local IP instead of calling with valid domain name.  with this config and all swagger calling throws with error: 'failed to fetch'.

`{
      "UpstreamPathTemplate": "/xxx/api/{everything}",
      "Downstre

[2021-07-19 13:57] namnik commented on #173
I have this issue too.
I used this solution `"TransformByOcelotConfig" : false`,
this config correctly worked. But now I have a new problem: when calling my Apis into swagger, it's calling with local IP instead of calling with valid domain name.  with this config and all swagger calling throws with error: 'failed to fetch'.

`{
      "UpstreamPathTemplate": "/xxx/api/{everything}",
      "Downstre

[2021-07-20 08:09] namnik opened #181 "Swagger response too slow for big swagger documents"
I have this issue too #173 .
I used this solution `"TransformByOcelotConfig" : false`,
this config correctly worked. But now I have a new problem: when calling my Apis into swagger, it's calling with local IP instead of calling with my domain website name(for example `myApp.com/api` ).  with this config all swagger calling Apis throw with error: 'failed to fetch'.

`{
      "UpstreamPathTemplate":

[2021-07-27 07:37] namnik commented on #181
why anyone don't answer this issue!.

[2021-07-27 07:45] Burgyn commented on #181
Hi,
I'm on vacation.  I'll look into it tomorrow.

[2021-07-28 04:24] Burgyn commented on #181
Hi,

I'm not sure I understand correctly. Having trouble calling your api via swagger documentation? If so, what address is the swagger documentation trying to call? Is it right?

![image](https://user-images.githubusercontent.com/5930822/127263478-f205411d-7c9c-4473-bcad-90d020f330f8.png)

[2021-07-28 13:25] namnik commented on #181
yes, before applying the config `"TransformByOcelotConfig" : false` , calling my api via swagger correctly worked
![123](https://user-images.githubusercontent.com/13764362/127329749-aad12ab9-ec9c-4d7c-9ffc-a127728e93ed.png)

but after applying the config  Having trouble calling my api via swagger:

![321](https://user-images.githubusercontent.com/13764362/127329834-69c04371-486a-4343-8ac9-f5c1d385

[2021-07-29 04:46] Burgyn commented on #181
Hi,
the `TransformByOcelotConfig` setting does this by taking the documentation from the downstream service and displaying it unchanged. So if you have a Base URL or Servers (OpenApi 3) defined in the downstream documentation, these are not modified and will be used in swagger UI to execute the request (this is the standard behavior of Swashbuckle.AspNetCore). If you do not generate Base URL or Se

[2021-08-02 06:02] namnik commented on #181
I will waiting for the enhancement. I hope that you get free time for this plan.

[2021-08-02 06:30] #56 closed

[2021-08-03 09:09] Burgyn commented on #181
I'm not going to promise, but I hope in September.

[2021-08-06 16:18] itservicesfisg opened #182 "My Swagger.json default values for string are reverting to "string""
I have set a bunch of default values in my swagger.json for a specific service. When I run the service without the gateway all of the default values are honoured. When I run the service through the gateway the value is set at "string". It is picking up the rest of the swagger document. Just the default values are not set

I'm really rather hoping this is something stupid that I've done.

![image](

[2021-08-17 16:13] jepthy opened #183 "Aggregate Document Generation errors with 500 "System.NullReferenceException: Object reference not set to an instance of an object""
**Describe the bug**
Trying to create documentation for Aggregates in Ocelot.  When browsing in Swagger to the Aggregates documentation, it generates the following error:
`An unhandled exception has occurred while executing the request.
System.NullReferenceException: Object reference not set to an instance of an object.
at MMLib.SwaggerForOcelot.Aggregates.RouteDocs.CreateContent(Response response

[2021-08-17 18:16] Burgyn commented on #182
Hi.  I am currently vacating.  I'll look into it next week.

[2021-08-17 18:16] Burgyn commented on #183
Hi.  I am currently vacating.  I'll look into it next week.

[2021-08-17 19:08] jepthy commented on #183
Wonderful, thank you so much. Please let me know if you run into any issues pulling the sample project, etc.
    On Tuesday, August 17, 2021, 12:16:44 PM MDT, Miňo Martiniak ***@***.***> wrote:

Hi. I am currently vacating. I'll look into it next week.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on

[2021-08-18 11:11] habtu12 commented on #69
You can config teh Program.cs to read ocelot.json or ocelot.dev.json like this:

[2021-08-24 08:57] Burgyn commented on #183
Hi,

thanks for your sample. It helped me figure out where the problem was.

Your documentation of downstream services does not contain content of path response. I fixed the generation of documentation to take into account this case as well.
Please try version `4.4.2`.

[2021-08-24 12:34] jepthy commented on #183
Oh interesting, I wonder why it isn’t documenting the responses.  I will have to check that out, I was using the WebAPI template for VS with Swagger. Thank you so much for looking at this!

Sent from Yahoo Mail for iPhone

On Tuesday, August 24, 2021, 2:57 AM, Miňo Martiniak ***@***.***> wrote:

Hi,

thanks for your sample. It helped me figure out where the problem was.

Your documentation of down

[2021-08-24 12:58] #183 closed

[2021-08-25 04:46] Burgyn commented on #182
Hi,

Can you please provide a demo project to further investigate this issue? (maybe part of source swagger.json will suffice)

Many thanks.

[2021-08-25 17:24] srinuSG opened #185 "No operations defined in spec! with version v4.4.2"
**Describe the bug**
When I use MMLib.SwaggerForOcelot version more than 3.0.0 I am getting the issue like No operations defined in spec!.
 <PackageReference Include="MMLib.SwaggerForOcelot" Version="4.4.2" />

But When I use MMLib.SwaggerForOcelot version less than or equal  3.0.0  its working prefect
 <PackageReference Include="MMLib.SwaggerForOcelot" Version="3.0.0" />

**Expected behavior**
I

[2021-08-27 12:12] #185 closed, assigned to Burgyn

[2021-09-03 00:54] #182 closed

[2021-09-07 15:30] phillippelevidad opened #186 "SwaggerJsonTransformer removes unreferenced `anyOf` types"
**Describe the bug**
Almost the same as issue #128, but more specifically when the unreferenced types appear as `anyOf` in their parents.

The fix seems easy. I saw that PR #132 (which addressed issue #128) just needed to add some search paths. So I took the same approach, duplicating the relevant search paths and changing them to `anyOf`, and that fixed it for me.

File: SwaggerJsonTransformer.cs

[2021-09-08 10:33] #186 closed

[2021-09-08 10:37] Burgyn commented on #186
Hi,
thanks for your issue and a detailed description of the error and how to solve it.

This fix will be released in version `4.4.3` in a few minutes

----

🙏 Thanks for helping to improve this package.

[2021-09-20 20:22] thomas-illiet opened #189 "HttpClientFactory Dynamic Configuration"
Hello Guys,

Many thanks for this project, can you implement the static or dynamic HttpClientFactory configuration in the following class ```DownstreamSwaggerDocsRepository``` ?

I need this to able to set the proxy configuration for backend API.

Thanks
Thomas

[2021-09-22 04:24] Burgyn commented on #189
Hi,

Thank you for the suggestion. I'll look into it later this week.

[2021-09-24 07:15] Burgyn commented on #189
Hi @thomas-illiet,

What exactly do you need to configure? Will it be enough if you can create your own `HttpClientHandler`?

For example, like this:
[code]

[2021-09-26 08:39] HorrorGamesStudio opened #190 "Incorrect path of swagger endpoint"
**Describe the bug**
Hi, thanks for the usefull package!

I trying to setup a project with .NET 6 RC.1 with Minimal API but I have a problem with SwaggerEndPoints.
I have 2 main project (both Rest API), **Authentication API** and **APIGateway**.
In the API Gateway project I trying to configure Ocelot and SwaggerForOcelot, the problem is that the API Gateway return 404 when try to reach the Authent

[2021-09-27 12:53] Burgyn commented on #190
Hi,

please try to remove line `options.DownstreamSwaggerEndPointBasePath = "/swagger";` from `Startup.cs`.

[code]

[2021-09-27 13:53] HorrorGamesStudio commented on #190
Thaks for suggestion. Now it works!

[2021-09-27 13:53] #190 closed

[2021-10-01 19:10] zohanidze opened #191 "Aggregation schema not full"
I use custom aggregation with two routes. First route have simple model and schema is ok. But second model is very big and have many object-properties in it. This Object-properties is not load in output schema and this objects appear as null. For example, profile has list of addresses. And model of address can not been appeared in schema.

[2021-10-02 13:11] zohanidze opened #192 "Custom header in Aggregates not send"
Hi, I want have aggregates with custom header.
I add custom header in swagger:

`opt.AggregateDocsGeneratorPostProcess = (aggregateRoute, routesDocs, pathItemDoc, documentation) =>
                {
                    pathItemDoc.Operations[OperationType.Get].Parameters.Add(new OpenApiParameter()
                    {
                        Name = "Authorization",
                        Schema

[2021-10-02 13:29] zohanidze commented on #192
For Authorization i add settings from screen and it is work.

![swagger3](https://user-images.githubusercontent.com/91756397/135718460-ac1d4df7-e672-4a30-a549-552c1cc485f7.png)

[2021-10-02 13:33] #192 closed

[2021-10-03 01:02] #189 closed

[2021-10-04 08:18] Burgyn commented on #191
Hi,

Are the properties in the original downstream documentation?

[2021-10-06 06:52] zohanidze commented on #191
Hi!

Ocelot config:
[ocelot.zip](https://github.com/Burgyn/MMLib.SwaggerForOcelot/files/7291451/ocelot.zip)

Original Json-Model for accountMe:
[accountMe.zip](https://github.com/Burgyn/MMLib.SwaggerForOcelot/files/7291456/accountMe.zip)

[2021-10-08 16:24] Arcalise08 opened #193 "Renaming swagger gateway"
I'm unsure if this is a bug or if I'm simply using it wrong.

I'm trying to change the default `/swagger` prefix

I've tried all combinations of the following
[code]
the RoutePrefix option seems like the one to use.

And going to `localhost/my-prefix` will redirect to `localhost/my-prefix/index.html` like it should, but I get a 404 error.

[2021-10-11 05:11] Burgyn commented on #193
Hi,

try to use property `RoutePrefix`

[code]

⚠ but be careful, no slash!

[2021-10-11 13:19] #193 closed, assigned to Burgyn

[2021-10-12 08:44] leonluc-dev opened #194 "How to handle non-root gateway?"
I have a question regarding the handling of swagger generation when the Ocelot gateway endpoint is not on root.
Using the following ocelot.json:

[code]

In code the SwaggerForOcelot setup is very basic:
[code]

Ocelot itself works fine with this setup.

However, whenever we open the swagger documentation at `https://myapi.com/mygateway/swagger/index.html` the page starts loading but it tries to l

[2021-10-13 08:33] zohanidze commented on #191
thanks!

[2021-10-19 05:12] Burgyn commented on #194
Hi,

Do you have a base url set in `Configure` method? `app.UsePathBase("/mygateway");`

Minimal working example:

## Ocelot.json

[code]

## Startup.cs

[code]

[2021-10-19 08:58] leonluc-dev commented on #194
We had set the base path in ocelot.json. But adding it in code using `UsePathBase` seems to have solved the issue.

[2021-10-20 12:33] zohanidze opened #195 "Array-parameter for GET query not work"
Hi!
I have GET endpoint in origin API with array-parameter (filter):
http://localhost:4999/api/User/GetUsers?filterId=1&filterId=2

And I have server-ocelot with proxying this endpoint:
http://localhost:4998/gateway/User/GetUsers?filterId=1&filterId=2

Route config:
`{
      "DownstreamPathTemplate": "/api/User/GetUsers",
      "UpstreamPathTemplate": "/gateway/User/GetUsers?filterId=1&filterId=2"

[2021-10-20 12:50] zohanidze opened #196 "Two route with identical DownstreamPathTemplate not displayed"
Hi!
I have two route in ocelot.json with same DownstreamPathTemplate but different UpstreamPathTemplate.

Route config:

`"Routes": [
    {
      "DownstreamPathTemplate": "/api/User/GetUsers",
      "UpstreamPathTemplate": "/gateway/User/GetUsers?filterId=3",
      "UpstreamHttpMethod": [
        "Get"
      ],
      "DownstreamScheme": "http",
      "Key": "users",
      "SwaggerKey": "users",

[2021-10-20 13:13] zohanidze opened #197 "DownstreamPathTemplate with Get-parameter. Not displayed endpoint"
Hi!
I have route-config:
`{
      "DownstreamPathTemplate": "/api/User/GetUsers?filterId=3&filterId=4",
      "UpstreamPathTemplate": "/gateway/Users",
      "UpstreamHttpMethod": [
        "Get"
      ],
      "DownstreamScheme": "http",
      "Key": "users",
      "SwaggerKey": "users",
      "ServiceName": "users"
    }`

In swagger endpoint /gateway/Users not displayed.

![query-not-displayed]

[2021-10-27 11:05] jwillmer opened #198 "Swagger Portal"
I read a series called Building a Documentation Portal For Multiple APIs ([part 1][part-1], [part 2][part-2]) in which a Swagger employee is building a simple portal ([source][source], [demo][demo]) around multiple Swagger definitions. Maybe this would be a cool improvement / second option to display the documentation?

[part-1]: https://swagger.io/blog/api-documentation/building-documentation-por

[2021-11-03 02:33] bodnarkevin opened #200 "Update Swashbuckle NuGet packages from 5.6.3 to 6.2.3"
Hi!

I was looking forward to using the Swagger UI's new [OpenID Connect Discovery](https://swagger.io/docs/specification/authentication/openid-connect-discovery/) functionality, however it is only supported from version Swagger UI v3.38.0, which is only supported by the 6.2.3 version Swashbuckle ([compatibility](https://github.com/domaindrivendev/Swashbuckle.AspNetCore#compatibility)).

It would

[2021-11-03 04:59] Burgyn commented on #200
Closed by #201

[2021-11-03 04:59] #200 closed

[2021-11-03 09:32] balaramsathuluri opened #202 "Challange while using MMLib.SwaggerForOcelot"
**Describe the bug**
I have below ASP.NET CORE web api micro services, As suggested in the documentation section I have added SwashBuckle.AspNetCore (6.2.3) to these micro services.
1. Admin : attached image for startup, Program.cs
![Admin Service](https://user-images.githubusercontent.com/13834820/140034558-0ef47524-2602-4f53-9036-8613567d37e4.jpeg)
2. Document :  attached image for startup, Prog

[2021-11-03 09:36] balaramsathuluri commented on #202
Downstream Micro service API's are not loading in ocelot swagger UI. Please help on this

[2021-11-03 15:19] teomane opened #203 "Different gateway swagger response json than service swagger"
Hello,

I have an issue with the library. The example value of the response of a service is seen differently on the gateway swagger. Let me give an example:

This is the JSON of the response of my endpoint (taken from the service's swagger):
[code]

And this is the JSON from the gateway for the same service:
[code]

I can't see the node:
[code]

What do you think about the problem ?

[2021-11-05 06:23] Burgyn commented on #195
Hi,

It appears that SwaggerUI cannot generate a request if the swagger definition for the endpoint contains query params in the parameters section as well as directly in the path.

As a workaround, you can use that you fill the given query parameters directly on SwaggerUI.

---

Note to me: A possible future solution would be to remove the query parameters in the documentation transformation if t

[2021-11-05 09:38] Burgyn commented on #203
Hi,

it's from Ocelot Aggregates, or from standard service? If its from aggregation then looks similar like issue #191

[2021-11-05 09:54] Burgyn commented on #202
Hi,

It's look that you have different swagger key on Routes definition and in SwaggerEndPoints

![image](https://user-images.githubusercontent.com/5930822/140492296-8b72dbb0-76fe-4d5c-8e82-69652d36bdc0.png)

[2021-11-05 11:30] teomane commented on #203
It is not from aggregates. It is just a standard downstream service configured with Routes.

[2021-11-05 11:41] Burgyn commented on #203
Can you please prepare simple reproducible example. Because it's OK on my projects.

[2021-11-05 14:14] Burgyn commented on #198
Hi @jwillmer,

I have had a similar idea in my head since the beginning of this project (#34). Unfortunately, I never really needed it so much that I would realize it 😔

[2021-11-06 11:02] bodnarkevin opened #204 "Add security tags to swagger based on AuthenticationOptions from Ocelot"
Hi!

I was wondering whether it would be possiple to add security definitions to the swagger document based on the Ocelot configuration.
I had a brief look at the code, and I wanted to get your opinion before I maybe make a pr.

My idea was to, first provide a dictionary in OcelotSwaggerGenOptions, between Ocelot's AuthenticationOptions.AuthenticationProviderKey and Swagger's securitySchemes. Than

[2021-11-08 07:18] balaramsathuluri commented on #202
Thank You Burgyn for quick response.
As suggested I have changed the key in Swagger EndPoint to "Admin". I could see the API's in gate way now related to Admin only.

But when I try to load Document API's in using drop down I am getting below response.

[2021-11-08 07:47] Burgyn commented on #202
I am after appendix surgery.  I'll look into it when I get back from the hospital.

[2021-11-08 07:47] balaramsathuluri commented on #202
I have updated both Routes and EndPoints to have Down stream API's related to Document API's as well, not sure why it is giving "No Operation defined in spec"
![Documents-Swagger](https://user-images.githubusercontent.com/13834820/140700194-c1d4d3fd-b587-466a-b00d-37e99dc7a978.jpeg)

Here is the ocelot.json file.

![Ocelot Development-json](https://user-images.githubusercontent.com/13834820/140702

[2021-11-08 08:00] balaramsathuluri commented on #202
Thanks.
    On Monday, 8 November, 2021, 01:17:25 pm IST, Miňo Martiniak ***@***.***> wrote:

I am after appendix surgery. I'll look into it when I get back from the hospital.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.

[2021-11-08 12:29] eymentopcuoglu commented on #203
Hi,

It seems rendering of circular-referenced objects on Swagger UI is still an ongoing [issue](https://github.com/swagger-api/swagger-ui/issues/3325). However, a [comment](https://github.com/swagger-api/swagger-ui/issues/3325#issuecomment-662030081) on this issue seemed to work for me! For our case, to make the paths of the downstream Swagger endpoints relative, I used `DownstreamSwaggerEndPoint

[2021-11-13 18:08] teomane commented on #203
Thank you @eymentopcuoglu. It works for me.

[2021-11-20 08:20] #203 closed

[2021-11-20 08:51] Burgyn commented on #202
Hi,
please can you attach your Document API swagger docs?

thanks.

[2021-11-20 14:25] Burgyn commented on #204
This will be released after few minutes as version `4.6.0`

[2021-11-20 14:25] #204 closed

[2021-11-25 11:56] kyrvlasiuk commented on #202
![Screenshot 2021-11-25 134939](https://user-images.githubusercontent.com/42720377/143436750-42ed86ef-b218-4b55-b30e-f6919c1bb68a.png)
Hi, @balaramsathuluri

As far as I gather this error is for all SwaggerEndPoints items whose Key does not have an exact match in Routes section under SwaggerKey. You correctly identified and fixed error for "Process" but did not do the same for "documents" whose ne

[2021-11-25 17:23] ptrushin opened #208 "Add OAuthClientId and other OAuth options"
In Swashbuckle I can set OAuthClientId for Authorize like
`app.UseSwaggerUI(opt =>
            {
                opt.OAuthClientId("ffff");
            });`
In case of Ocelot OAuthClientId different for other services.
Can you add this option in config file for service like
`"Key": "api",
            "Config": [
                {
                    "Name": "name",
                    "Version": "

[2021-11-29 19:16] Burgyn commented on #208
Hi @ptrushin,

Can you please be more specific? Please describe your idea better.
Well thank you.

[2021-12-02 15:10] eymentopcuoglu opened #209 "Adding multiple security requirements/definitions overwrites the previous ones"
**Describe the bug**
Since `SecurityDefinitionAction` and `SecurityRequirementAction` are not defined as a `List`:

https://github.com/Burgyn/MMLib.SwaggerForOcelot/blob/41f37a2e8b59854a6a655a4d18b6d77c938486b2/src/MMLib.SwaggerForOcelot/Configuration/OcelotGatewayItSelfSwaggerGenOptions.cs#L29-L31

Adding multiple requirements/definitions causes an overwrite:

https://github.com/Burgyn/MMLib.Swag

[2021-12-02 16:15] eymentopcuoglu opened #211 "Add OperationFilter to gateway itself"
**Is your feature request related to a problem? Please describe.**
Currently, `OperationFilter<IOperationFilter>()` extension method is not available for GatewayItSelf documentation. Following method should be available:

[code]

**Describe the solution you'd like**
`OperationFilterActions` should be added to `OcelotGatewayItSelfSwaggerGenOptions` class:
[code]
and invoked in `AddGatewayItSelfDocs

[2021-12-03 08:42] #209 closed

[2021-12-03 08:42] #211 closed

[2021-12-04 00:58] #202 closed

[2021-12-07 13:54] hryo opened #213 "SecuritySchemes not preserved for downstreams definitions"
Not sure if it's a bug or expected behavior.
When you defining security definition and requirements for gateway, it only applies to gateway definition itself. All downstream definitions contains only security section specified.
I.e. gateway definition contains section:
`"securitySchemes": {
      "Bearer": {
        "type": "http",
        "description": "Enter JWT Bearer token",
        "scheme":

[2021-12-08 01:01] #208 closed

[2021-12-09 05:30] Burgyn commented on #213
Hi,

thanks fort your question.

Unfortunately, this behavior is not currently supported. The `SecuritySchemes` section is fully taken from the downstream definition.

The only option I can think of is your own transformation of the resulting upstream documentation:
[code]

[2021-12-18 01:03] #213 closed

[2022-01-01 07:22] namnik commented on #181
could you working on this issue

[2022-01-06 17:32] dgustala commented on #68
Hi, thanks for all your effort!
I have a question: you said above that you only support `{everything}` as wildcard.
But in the this example: https://github.com/Burgyn/Sample.OcelotWithRoutingParameters/blob/master/src/ApiGateway/ocelot.json
..you use both {everything}` and {companyId}` as wildcards. That's correct?

[2022-01-07 18:44] Burgyn commented on #68
Hi @dgustala,

in this case `{companyId}` is not "wildcard", but a path parameter. If the same parameter at the same position exists in the downstream path, the documentation can be shown.

[2022-01-07 18:48] dgustala commented on #68
Good to know. Thanks!
And what about query parameters? Works in the same way than path parameters?

[2022-01-07 19:10] Burgyn commented on #181
Hi @namnik,
I didn't get to it at all.
Next week I'll try to estimate how difficult it is and I'll let you know.

[2022-01-14 18:10] Burgyn commented on #181
Hi @namnik <https://github.com/namnik>

For easier problem solving, can you please provide your larger swagger json
documentation?
It would help me.

Thanks.

On Sat, 1 Jan 2022 at 08:23, Saman Namnik ***@***.***> wrote:

--
Prajem pekný zvyšok dňa,
Ing. Milan Martiniak

[2022-01-18 08:29] nikolay-dimitrov opened #217 "Ocelot configuration been re-write after IIS pool idle timeout"
Hello everyone
Im facing really strange behaviour from Ocelot  while im using the great feature for merging multiple configuration files and using the Swagger

1) After Ocelot is been deployed and started(on IIS) for first time is creating automatically ocelot.Production.json file which has exactly the same configurations like ocelot.json file(this file is again created on first start of the appli

[2022-01-20 07:36] namnik commented on #181
Hi @Burgyn
Sure, a large swagger json url:
https://sandbox.wepod.ir/swagger/docs//XBankMain
or
https://api.wepod.ir/swagger/docs//XBankMain

Thanks,

[2022-01-21 06:30] Burgyn commented on #217
Hi @nikolay-dimitrov,

implementation is the same as in the Ocelot project. So it is likely that it is not related to this library.

From Ocelot documentation:

So, your origin files as `ocelot.production,json` are not deleted and still exist (this file is not add to configuration builder).
- Please check if your project contains `ocelot.json`,if so, remove it.

Point 3. - Unfortunately, I don't t

[2022-01-21 20:07] Burgyn commented on #181
Hi @namnik <https://github.com/namnik>

thanks for your docs. Unfortunately I do not have good news. With a 16MB
document, I come across Newonsoft limits.
The transition to `System.Text.Json` is currently impossible because it
does not allow modification of an existing document. Switching to that
would take a lot of time that I don't have.

In your case, a lot of time is spent removing unused comp

[2022-01-24 19:06] Burgyn commented on #181
Hi @namnik,

In new version `4.8.0` you can use `RemoveUnusedComponentsFromScheme` switch

[code]

PR #218

[2022-01-30 01:00] #217 closed

[2022-02-02 01:01] #181 closed

[2022-02-02 12:38] MaximilianoCovela opened #219 "Operation Filter Feature"
Hi!
I couldn't find a way to replicate the "OperationFilter" that can be used in the original Swagger.

My objective was from there to add a custom header to all the methods that the Swagger shows, since then with an ocelot delegating handler I validate the value of that additional header.

Maybe it would be nice if there is something that can be used like what I show in the screenshot (source: ht

[2022-02-02 20:29] Burgyn commented on #219
Hi,

unfortunately this package does not directly support it. This package does not generate swagger documentation _(except for aggregation documentation)_, it only downloads downstream service documentation _(removes unused components, paths, and renames routes by ocelot configuration)_ and provides it to the client. So `OperationFilter` will not be used.

You can use `ReConfigureUpstreamSwaggerJ

[2022-02-03 14:06] MaximilianoCovela commented on #219
Hi, that served me for what I needed. Very useful package, thank you very much for your help!

[2022-02-03 14:06] #219 closed

[2022-02-03 14:13] Burgyn commented on #219
Hi,

glad to hear that I helped.

[2022-02-09 13:18] codehunter13 opened #220 "api scopes of gateway itself"
Hi,

Ive an api, protected by Scope 'RGG'
My Ocelot frontend api is protected by scope "RGR"

Using swagger from the api itself works.  At the login screen i can select the RGG scope and doing actual swagger calls.
When using swagger from ocelot, at login i only can select the RGG scope. I dont see an RGR scope checkbox.
Login works but doing actual calls give the error:
Client has NOT been authen

[2022-02-25 14:59] eymentopcuoglu opened #222 "Multiple Configuration Files"
Hi,

Since Ocelot does not consider `SwaggerEndPoints` and `SwaggerKey` [while deserializing configuration files](https://github.com/ThreeMammals/Ocelot/blob/36ad6e1e7873526e28300c7ac6312052f6df14e9/src/Ocelot/DependencyInjection/ConfigurationBuilderExtensions.cs#L65), the produced [`ocelot.json` file](https://github.com/ThreeMammals/Ocelot/blob/36ad6e1e7873526e28300c7ac6312052f6df14e9/src/Ocelot/

[2022-02-25 15:08] Burgyn commented on #222
Hi @eymentopcuoglu

Please check [Merging configuration files](https://github.com/Burgyn/MMLib.SwaggerForOcelot#merging-configuration-files) section in Readme file.

[2022-02-25 15:20] eymentopcuoglu commented on #222
I had missed it, thank you very much!

[2022-02-25 15:20] #222 closed

[2022-03-10 12:00] Ugonna06 opened #223 "System Aggregate Exception"
I have been trying to configure a swagger for ocelot to display all my upstream routes in a swagger format but I keep getting this exception below;

System.AggregateException: 'Some services are not able to be constructed (Error while validating the service descriptor 'ServiceType: MMLib.SwaggerForOcelot.Aggregates.IRoutesDocumentationProvider Lifetime: Transient ImplementationType: MMLib.SwaggerF

[2022-03-10 12:35] Ugonna06 commented on #223
Hi Mino,

I just attached my program.cs to this email.

you'll be able to see the comment where I added swaggerforocelot in the
services

On Thu, Mar 10, 2022 at 1:25 PM Miňo Martiniak ***@***.***>
wrote:

[2022-03-10 18:05] Burgyn commented on #223
Hi,
this package bring swagger documentation to the Ocelot Api Gateway. So you must configure and run the Ocelot. E.g.:

[code]
I didn't see it in your code.
See the [Ocelot documentation](https://ocelot.readthedocs.io/en/latest/introduction/gettingstarted.html) for more info.

[2022-03-10 20:37] Ugonna06 commented on #223
Hello Mino,

Am I supposed to put the AddOcelot(); and the AddSwaggerForOcelot();?

On Thu, 10 Mar 2022, 7:06 PM Miňo Martiniak ***@***.***>
wrote:

[2022-03-12 08:58] Ugonna06 commented on #223
Hello Mino,

I now have a "SwaggerEndPoints configuration section is missing or empty exception" exception at the pipeline.

your suggestion was helpful in passing the first one

[2022-03-14 10:04] Burgyn commented on #223
What does your `ocelot.json` and `program.cs` look like now?

_🙏 Please use markdown code formatting._

[2022-03-14 12:03] Ugonna06 commented on #223
Hi Mino,

Thank you for the follow up.

for the program.cs the code is below

-----------------------------------------------

using Ocelot.DependencyInjection;
using Ocelot.Middleware;

var builder = WebApplication.CreateBuilder(args);
// Add services to the container.
builder.Services.AddControllers();
builder.Services.AddEndpointsApiExplorer();
//builder.Services.AddSwaggerGen();
builder.Servic

[2022-03-14 19:29] Burgyn commented on #223
Hi @Ugonna06,

please read the [Ocelot documentation](https://ocelot.readthedocs.io/en/latest/introduction/gettingstarted.html#net-6-0) carefully.

This project is just an addon to Ocelot API Gateway and is not designed to run without its correct configuration.

You are missed to add `ocelot.json` file to configuration builder. E.g.: `builder.Configuration.AddJsonFile("ocelot.json");`. And in your

[2022-03-15 09:01] Ugonna06 commented on #223
Hi Mino,

Thanks a lot for this update, It ran successfully.

I really appreciate.

On Mon, Mar 14, 2022 at 8:29 PM Miňo Martiniak ***@***.***>
wrote:

[2022-03-15 09:30] #223 closed

[2022-03-22 15:06] catalingoran opened #224 "Refresh Swagger specification when making use of the hot-reload functionality of Ocelot"
When updates are made on Ocelot JSON file the swagger specification should be able to react to this change and reload the updated specification.

At this time our solution is to restart Ocelot every time a change occurs. *And it's not so funny :P Even annoying 🍡

Do you have an idea how we can get this to work?

Thanks,
Catalin

[2022-03-23 20:06] #224 closed

[2022-03-23 20:09] Burgyn commented on #224
Hi @catalingoran

this is fixed in the new version `4.9.0`, which will be release in a few minutes.

[2022-03-24 10:20] catalingoran commented on #224
Hi @Burgyn,

Thank you so much!

Cheers! 🥂

[2022-04-12 18:06] zolaikhahammad opened #227 "Custom Documentation Layout"
I want to add custom layout to my SwaggerUI for Ocelot. Can someone please guide how we can use this feature in MMLib.SwaggerForOcelot.

e.g I want to show the api endpoints in a tab not in the dropdown or in a menu. Inject custom css.

[2022-04-16 03:05] #196 closed

[2022-04-16 03:05] #197 closed

[2022-04-16 03:05] #195 closed

[2022-04-21 16:26] Burgyn commented on #227
Hi.

This project uses the standard Swashbuckle project to generate SwaggerUI.  So it should be possible to adapt.  I've never tried it, but I think it's possible. For example try this  https://link.medium.com/xejrJGnAppb

[2022-04-30 01:50] #227 closed

[2022-05-05 10:39] aspramsh opened #229 "Support for swagger redoc"
Hi there, is there an ability to access redoc for specified downstream when redoc is enabled?

[2022-05-09 07:24] Burgyn commented on #229
Hi. Unfortunately, I don't know how Redoc works. According to the documentation, it looks like Redoc is just a UI over an existing OpenApi. If so, this package will work normally. Because this package works above the OpenApi specification.

[2022-05-17 11:56] catalingoran commented on #224
Hi @Burgyn , it seems that we still have a issue here. The hot reload is working now, the ocelot.json is reloaded and all the endpoints are accessible trough the Ocelot gateway. But the swagger documentation for all "hot reloaded" endpoints is not accessible. We can see it in the endpoint list in swagger but after selecting it the page is not loading and we receive a 500 response.

Info: Microsoft

[2022-05-18 01:27] #229 closed

[2022-06-18 11:59] codehunter13 opened #232 "PostConfigure"
Hi,

I try to use the standard way to do a postconfigure of the the configuration like this:

[code]

But the foreach is never executed. Any idea why?
For ocelot itself the followiing works:
[code]

[2022-06-18 12:54] codehunter13 commented on #232
Think i found it. The following does what i needs:
services.PostConfigure<List<SwaggerEndPointOptions>>

[2022-06-18 12:54] #232 closed

[2022-08-02 11:39] naji-makhoul opened #234 "config.AddOcelotWithSwaggerSupport reloadOnChange files"
reloadOnChange file when use AddOcelotWithSwaggerSupport

[code]

like when add json file :
[code]

[2022-08-02 12:46] Burgyn commented on #234
Hi,
thank you for your issue.

Unfortunately, you didn't write much. I cannot judge whether it is a question, a comment, a request, ...

Could you please be more specific? Try to describe current behavior, expected behavior, ... Ideally, add an example.

[2022-08-02 13:46] naji-makhoul commented on #234
Hi .
i need to reload ocelot file when the file is changes on runtime without restart the app

when i set the ocelot config  files with  AddOcelotWithSwaggerSupport and change the routes in the file its not updated on runtime

when i use AddJsonFile with reloadOnChange = true , its updated

[2022-08-02 18:18] Burgyn commented on #234
Hi,

which version do you use? This was fix in version `5.2.0` (PR #230)

[2022-08-03 08:21] naji-makhoul commented on #234
I use version 4.9.0 , I will update and check it again, thank you

[2022-08-04 12:14] P9avel opened #235 "How to show Gateway as first and select by default"
Hi, i am want to do as on screenshot. How to do this?
![image](https://user-images.githubusercontent.com/95086762/182844321-cae71a7e-e421-4956-9570-555efe50a6bb.png)

[2022-08-04 15:00] Burgyn commented on #235
Hi @P9avel ,

Please check this section in documentation https://clicks.burgyn.online/rreaaMwPD

[2022-08-05 13:45] P9avel commented on #235
I am read before. o.GenerateDocsForGatewayItSelf = true; added Gateway item as last in my case as last item in combobox  and Swagger selected first item (not gateway) by default.

[2022-08-09 12:46] Burgyn commented on #235
Hi, sorry, I didn't understand that you were talking about order.

Unfortunately, there is no option to change the order.

If you need it, you can prepare a pull request.

[2022-08-12 01:50] #234 closed

[2022-08-18 02:06] #235 closed

[2022-10-07 10:51] maxoizs opened #238 "[Question] SwaggerEndpoints configurations per enviroment"
I have a question  regarding SwaggerEndpoints, I'm using ocelot and swagger for ocelot, with configuration folder and so far it works fine, the issue is, in SwaggerEndpoint how do I mention that base URL should change per environment, I've it fixed for dev environment now, but I would like to push to qa and stage as well.
so ocelot.swaggerendpoints.json like that
[code]
example I would like to be

[2022-10-08 18:14] Burgyn commented on #238
Hi @maxoizs,

for these purposes I use the [Service discovery](https://ocelot.readthedocs.io/en/latest/features/servicediscovery.html), especially [AppConfiguration](https://github.com/Burgyn/MMLib.Ocelot.Provider.AppConfiguration) _(different `appsettings.json` for different environments)_.

SwaggerForOcelot can read documentation from services defined in by that providers. [See documentation](ht

[2022-10-10 12:22] maxoizs commented on #238
@Burgyn thanks a lot , AppConfiguratoin as a service discovery worked very well so far, and appSettings is much easier to configure per environment especially  that we were using docker, and replace a token within a docker image was a nightmare for me 😄 , thanks a lot for that.

[2022-10-10 12:22] #238 closed

[2022-10-10 12:24] Burgyn commented on #238
I'm glad I could help

[2022-10-26 10:55] AlexanderSysoev commented on #112
@Burgyn could you please show configuration for SwaggerEndPoints section when using suggested library?

[2022-10-27 05:28] Burgyn commented on #112
Hi @AlexanderSysoev,

Please take a look at the [ocelot.SwaggerEndpoint](https://github.com/Burgyn/MMLib.SwaggerForOcelot/blob/master/demo/ApiGateway/Configuration/ocelot.SwaggerEndPoints.json) file in this repo.

[2022-10-27 07:13] AlexanderSysoev commented on #112
@Burgyn Thank you for your reply! Do the service urls in SwaggerEndPoints section fetch from app configuration or from servers section of swagger.json of downstream service?

[2022-10-27 16:53] Burgyn commented on #112
It fetch data from `Configuration` and whether it will be `appsettings.json`, App Configuration or some other sources (e.g. environment variables) depends on how you have configured providers.

[2022-11-29 09:49] royberris opened #246 "Server URL is HTTP causing the Swagger UI to be unusable from HTTPS"
**Describe the bug**
This is not really a bug, but it might still be something to think about. Mainly I need support on this.

We use Azure Container Apps and internal communications between services is on http. The ingress uses https. So Swagger UI is served over HTTPS. The problem is that the Open API document has the server URL in HTTP format, not in HTTPS. Swagger UI will try to make a request

[2022-11-29 10:01] royberris commented on #246
Looking at the source code the Scheme is determined through the `HttpContext`. I also noticed that there is a `HostOverride` I can set. This is a nice work-around for now. But it would be nice to be able to do this globally, instead of having to set my custom domain (which the project shouldn't know about) and add it to the environment ocelot config.

[2022-11-29 11:56] Burgyn commented on #246
Hi @royberris,
Unfortunately, there is currently no direct way to do it globally. However, it is possible to do a custom post-process on the documentation before it is displayed:

[code]

[2022-11-29 12:24] royberris commented on #246
Hi @Burgyn, thanks.

I managed to get this:

[code]

For anyone who has the same problem in this hosting situation. I'll close the issue

[2022-11-29 12:24] #246 closed